.wrp {
    height: 1000px;
    padding-top: 200px;
    padding-left: 200px;
}

.card-item {
    position: relative;
    box-shadow: 0px 4px 22px -8px rgba(0, 0, 0, 0.15);
    max-width: 312px;
    width: 100%;
    border: 1px solid #F5F5F5;
    &:hover {
        border-color: $color-red-30;
        box-shadow: none;
    }

    &__wrapper {
    }

    &__sentence {
    }

    &__offers {
        position: absolute;
        top: 0;
        left: 0;
        &.stocks {
            max-width: 66px;
            width: 100%;
        }
        &.bestseller {
            max-width: 101px;
            width: 100%;
        }
        &.novelty {
            max-width: 83px;
            width: 100%;
        }
    }

    &__offers.stocks &__offer.stocks {
        display: flex;
    }

    &__offers.bestseller &__offer.bestseller {
        display: flex;
    }

    &__offers.novelty &__offer.novelty {
        display: flex;
    }

    &__offer {
        padding-left: 8px;
        height: 24px;
        display: flex;
        align-items: center;
        display: none;
        &.stocks {
            background-image: url('/icon/stocks.png');
            background-repeat: no-repeat;
            background-size: auto auto;
        }
        &.bestseller {
            background-image: url('/icon/bestseller.png');
            background-repeat: no-repeat;
            background-size: auto auto;
        }
        &.novelty {
            background-image: url('/icon/novelty.png');
            background-repeat: no-repeat;
        }
    }

    &__offers-title {
        letter-spacing: 0.04em;
        text-transform: uppercase;
        @include text( $size: 0.625rem, $textAlign: left, $color: $color-white, $fontWeight: 700, $lineHeight: 20px);
    }

    &__main {
        padding-left: 8px;
        display: flex;
        justify-content: space-between;
    }

    &__image {
        padding-top: 24px;
    }

    &__navigation {
    }

    &__navigation-buttons {
        display: flex;
        flex-direction: column;
        row-gap: 4px;
        margin-bottom: 10px;
    }

    &__button-like, &__button-compare {
        font-size: 0;
        display: inline-block;
    }

    &__button-like:hover &__like-svg{
        fill: $color-black;
        stroke: $color-black;
    }
    &__button-like.active &__like-svg { 
        fill: $color-black;
        stroke: $color-black;
    }

    &__button-compare:hover &__compare-svg {
        fill: $color-black;
        stroke: $color-black;
    }

    &__button-compare.active &__compare-svg { 
        fill: $color-black;
        stroke: $color-black;
    }

    &__like-svg {
        transition: all .1s ease-in-out;
    }

    &__button-compare {
    }

    &__compare-svg {
    }

    &__navigation-colors {
        @extend %centre-flex-columb;
    }

    &__color {
        width: 32px;
        height: 32px;
        @extend %centre-flex-columb;
        display: none;
        &:nth-child(-n+4) {
            display: flex;
        }
    }

    &__color.active &__color-item{
        width: 20px;
        height: 20px;
    }

    &__color:hover &__color-item{
        width: 20px;
        height: 20px;
    }

    &__color-item {
        transition: all .2s ease-in-out;
        cursor: pointer;
        display: block;
        width: 12px;
        height: 12px;
        outline: 1px solid rgba(177, 177, 177, 0.5);
        &.red {
            background-color: $color-red;
        }
        &.black {
            background-color: $color-black;
        }
        &.white {
            background-color: $color-white;
        }
        &.blue {
            background-color: #70CBFE;
        }
        &.green {
            background-color: #70FE8F;
        }
        &.pink {
            background-color: #F270FE;
        }
        &.yellow {
            background-color: #FEF070;
        }
        &.grey {
            background-color: #DFDFDF;
        }
    }

    &__color-more {
        cursor: pointer;
        width: 32px;
        height: 32px;  
        @extend %centre-flex-columb; 
    }

    &__color-item-more {
        @include text( $size: 0.875rem, $textAlign: center, $color: $color-black, $fontWeight: 600, $lineHeight: 20px);  
    }

    &__footer {
       padding: 0 12px 12px 12px;
    }


    &__reviews {
        display: flex;
        column-gap: 4px;
        margin-bottom: 12px;
    }

    &__reviews-stars {
        @extend %left-flex;
    }

    &__amount-reviews {
        cursor: pointer;
        @extend %left-flex;
        column-gap: 4px
    }

    &__amount-review-image {
        font-size: 0;
    }

    &__subtitle {
        @include text( $size: 0.75rem, $textAlign: left, $color: $color-gray-70, $fontWeight: 400, $lineHeight: 20px);  
    }

    &__name-item {
        margin-bottom: 12px;
        @include text( $size: 0.875rem, $textAlign: left, $color: $color-black, $fontWeight: 600, $lineHeight: 20px); 
    }

    &__footer-navigation {
        @extend %centre-space-between;
    }

    &__price {
    }

    &__price-discount {
    
    }

    &__price-text {
        text-decoration-line: line-through;
        @include text( $size: 0.75rem, $textAlign: left, $color: #686464, $fontWeight: 400, $lineHeight: 20px); 
        &.discount {
            font-weight: 700;
            text-decoration: none;
            color: $color-red;
        }
    }

    &__full-price {
        @include text( $size: 1.125rem, $textAlign: left, $color: $color-black, $fontWeight: 700, $lineHeight: 24px); 
    }

}
