.wrp {
    height: 1000px;
    padding-top: 200px;
    padding-left: 200px;
}

.card-item {
    position: relative;
    box-shadow: 0px 4px 22px -8px rgba(0, 0, 0, 0.15);
    max-width: 312px;
    width: 100%;

    &__wrapper {
        padding-bottom: 12px;
    }

    &__sentence {
    }

    &__offers {
        position: absolute;
        top: 0;
        left: 0;
        &.stocks {
            max-width: 66px;
            width: 100%;
        }
        &.bestseller {
            max-width: 101px;
            width: 100%;
        }
        &.novelty {
            max-width: 83px;
            width: 100%;
        }
    }

    &__offers.stocks &__offer.stocks {
        display: flex;
    }

    &__offers.bestseller &__offer.bestseller {
        display: flex;
    }

    &__offers.novelty &__offer.novelty {
        display: flex;
    }

    &__offer {
        padding-left: 8px;
        height: 24px;
        display: flex;
        align-items: center;
        display: none;
        &.stocks {
            background-image: url('/icon/stocks.png');
            background-repeat: no-repeat;
            background-size: auto auto;
        }
        &.bestseller {
            background-image: url('/icon/bestseller.png');
            background-repeat: no-repeat;
            background-size: auto auto;
        }
        &.novelty {
            background-image: url('/icon/novelty.png');
            background-repeat: no-repeat;
        }
    }

    &__offers-title {
        letter-spacing: 0.04em;
        text-transform: uppercase;
        @include text( $size: 0.625rem, $textAlign: left, $color: $color-white, $fontWeight: 700, $lineHeight: 20px);
    }

    &__main {
        display: flex;
        justify-content: space-between;
    }

    &__image {
        padding-top: 24px;
    }

    &__navigation {
    }

    &__navigation-buttons {
        display: flex;
        flex-direction: column;
        row-gap: 4px;
    }

    &__button-like, &__button-compare {
        font-size: 0;
        display: inline-block;
    }

    &__button-like:hover &__like-svg{
        fill: $color-black;
        stroke: $color-black;
    }
    &__button-like.active &__like-svg { 
        fill: $color-black;
        stroke: $color-black;
    }

    &__button-compare:hover &__compare-svg {
        fill: $color-black;
        stroke: $color-black;
    }

    &__button-compare.active &__compare-svg { 
        fill: $color-black;
        stroke: $color-black;
    }

    &__like-svg {
        transition: all .1s ease-in-out;
    }

    &__button-compare {
    }

    &__compare-svg {
    }

    &__navigation-colors {
    }

    &__color {
    }

    &__color-item {
    }

    &__reviews {
    }

    &__reviews-stars {
    }

    &__amount-reviews {
    }

    &__amount-review-image {
    }

    &__subtitle {
    }

    &__name-item {
    }

    &__footer {
    }

    &__price {
    }

    &__price-discount {
    }

    &__price-text {
    }

    &__full-price {
    }

    &__button-basket {
    }

    &__button-basket-text {
    }
}
.red {
}
.black {
}
.white {
}
.blue {
}
.green {
}
.pink {
}
.yellow {
}
.grey {
}
.more {
}
.discount {
}
.btn-basket {
}
.btn-basket-text {
}
