.catalog {
    &__wrapper {
        padding: 68px 48px 120px 48px;
        @extend %size-page;
        @include __960 {
            @include padding-mob;
        }
    }
    .catalog__page-wrapper {
        padding-left: 0;
        padding-right: 0;
    }
    
    &__name-page {
        margin-bottom: 40px;
    }

    &__page-title {
        @include text( $size: 28px, $textAlign: left, $color: $color-black, $fontWeight: 700, $lineHeight: 40px);
    }

    &__items {
    margin-bottom: 140px;
    }

    &__items-wrapper {
        @extend %centre-space-between;
        gap: 5px;
        flex-wrap: wrap;
        @include __1315 {
            justify-content: flex-start;
            gap: 36px 16px;
        }
        @include __960 {
            justify-content: center;
        }
    }

    &__item {
        max-width: 240px;
        width: 100%;
        min-height: 306px;
        box-shadow: 0px 4px 22px -8px rgba(0, 0, 0, 0.15);
        &:hover {
           box-shadow: none;
           outline: 1px solid $color-red-30;
        }
        @include __960 {
            max-width: 343px;
            width: 100%;
         }
    }

    &__item-wrapper {
        padding: 20px 12px 10px 12px;
        a {
            @extend %flex-columb;
            align-items: center;
            row-gap: 32px;
        }
    }

    &__item-name {
        text-transform: uppercase;
        @include text( $size: 20px, $textAlign: center, $color: $color-black, $fontWeight: 600, $lineHeight: 28px);
    }

    &__description-title {
        margin-bottom: 12px;
        @include text( $size: 16px, $textAlign: left, $color: $color-gray-70, $fontWeight: 700, $lineHeight: 24px);
    }

    &__description-text {
        @extend %flex-columb;
        row-gap: 8px;
    }

    &__description-subtitle {
        @include text( $size: 14px, $textAlign: left, $color: $color-gray-70, $fontWeight: 400, $lineHeight: 24px);
    }
}
