.filter {
    &__wrapper {   
        padding: 68px 0 120px 0;
    }

    &__name-page {
        padding: 0 48px;
        @extend %size-page;
        margin-bottom: 20px;
        @include text($size: 2rem, $color: $color-black, $textAlign: left, $fontWeight: 700, $lineHeight: 44px);
    }
}
.page {

    &__wrapper {
        @extend %size-page;
        padding: 16px 48px 20px 48px;
    }

}

.top-navigation {
    border-top: 1px solid $color-red-30;
    border-bottom: 1px solid $color-red-30;

    &__wrapper {
        padding: 0 48px;
        @extend %size-page;
        display: flex;
    }

    &__filters {
        cursor: pointer;
        display: flex;
        align-items: center;
        column-gap: 8px;
    }

    &__filters:hover &__name-section {
        color: $color-red;
    }

    &__filters:hover &__arrow-state {
        stroke: $color-red;
    }

    &__filters.active &__arrow-wrapper {
        transform: rotateZ(0deg);
    }

    &__filters.active:hover &__name-section {
        color: $color-black;
    }

    &__filters.active:hover &__arrow-state {
        stroke: $color-black;
    }

    &__image {
        font-size: 0;
    }

    &__image-state {
    }

    &__name-section {
        transition: all .1s ease-in-out;
        width: 212px;
        @include text($size: 1rem, $color: $color-black, $textAlign: left, $fontWeight: 700, $lineHeight: 24px);
    }

    &__arrow-wrapper {
        font-size: 0;
        transition: all .2s ease-in-out;
        transform: rotateZ(180deg);
    }

    &__arrow {
    }

    &__arrow-state {
        transition: all .1s ease-in-out;
    }

    &__title-menu {
       display: flex;
       align-items: center;
    }

    &__title-menu-wrapper {
        display: flex;
        align-items: center;
        column-gap: 8px;
        height: 100%;
        border-left: 1px solid $color-red-30;
        border-right: 1px solid $color-red-30;
        padding: 0 8px;
        flex: 1 0 788px;
    }

    &__amount-search {
        @include text($size: 0.75rem, $color: $color-black, $textAlign: left, $fontWeight: 400, $lineHeight: 20px);
    }

    &__navigation {
    }

    &__menu-list {
        display: flex;
        column-gap: 12px;
    }

    &__menu-item {
        display: flex;
        align-items: center;
        column-gap: 6px;
        cursor: pointer;
        border: 1px solid $color-gray-40;
        background-color: $color-white;
        border-radius: 20px;
        width: 75px;
        height: 32px;
        padding-left: 12px;
        transition: all .1s ease-in-out;
        &:hover {
            border-color: $color-red-40;
            background-color: $color-red-10;
        }
        &.delete {
            padding: 0;
            width: 80px;
            height: 32px;
            @extend %centre-flex-columb;
            border-color: $color-red-50;
            &:hover {
                background-color: $color-red-50;
            }
        }
    }

    &__menu-item.delete:hover &__menu-title {
        color: $color-white;
    }

    &__menu-item:hover &__menu-close-state {
        stroke-width: 3px;
    }

    &__menu-title {
        transition: all .1s ease-in-out;
        @include text($size: 0.75rem, $color: $color-black, $textAlign: left, $fontWeight: 400, $lineHeight: 20px);
    }

    &__menu-close-wrapper {
        font-size: 0;
    }

    &__menu-close-state {
        transition: all .1s ease-in-out;
    }

    &__dropdown {
        flex: 1 0 232px;
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: center;
        padding-left: 16px;
        transition: all .2s ease-in-out;
        border-right: 1px solid #FAD1D6;
        &.active {
           outline: 1px solid $color-red;
           border-color: $color-white;
        }
    }

    &__dropdown.active:hover &__dropdown-arrow-state  {
        stroke: $color-black;
    }

    &__dropdown:hover &__dropdown-arrow-state {
        stroke: $color-red;
    }

    &__dropdown.active &__dropdown-arrow {
        transform: rotateZ(180deg);
    }

    &__dropdown-title {
        display: block;
        max-width: 172px;
        width: 100%;
        @include text($size: 0.875rem, $color: $color-black, $textAlign: left, $fontWeight: 400, $lineHeight: 24px);
    }

    &__dropdown-arrow {
        transition: all .2s ease-in-out;
    }

    &__dropdown-arrow-state {
    }

    &__dropdown.active &__dropdown-list {
        opacity: 1;
        visibility: visible;
    }

    &__dropdown-list {
        width: 100%;
        box-shadow: 0px 4px 22px -8px rgba(0, 0, 0, 0.15);
        background-color: $color-white;
        position: absolute;
        transition: all .2s ease-in-out;
        opacity: 0;
        visibility: hidden;
        top: 46px;
        left: 0;
        display: flex;
        flex-direction: column;
        row-gap: 4px;
    }

    &__dropdown-item {
        position: relative;
        transition: all .1s ease-in-out;
        padding: 8px 16px;
        @include text($size: 0.875rem, $color: $color-gray-80, $textAlign: left, $fontWeight: 400, $lineHeight: 24px);
        &::before {
            content: '';
            width: 2px;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background-color: $color-red-50;
            opacity: 0;
            transition: all .1s ease-in-out;
        }
        &:hover {
            background-color: $color-gray-10;
            &::before {
                opacity: 1;
            }
        }
    }
}
.section-title {
}
.main-info {
    display: flex;
    @extend %size-page;
    @extend %padding-country;
}
.left-navigation {
    max-width: 304px;
    width: 100%;
    padding-right: 20px;

    &__filter-status {
    }

    &__filter-status-title {
    }

    &__filter-status-hidden {

    }

    &__input-stock-container {
    }

    &__input-checkbox {
    }

    &__label-checkbox {
    }

    &__input-novelties-container {
    }

    &__input-top-sales-container {
    }

    &__filter-price {
    }

    &__filter-price-title {
    }

    &__filter-name {
    }

    &__filter-arrow-wrapper {
    }

    &__filter-arrow-state {
    }

    &__filter-price-hidden {
    }

    &__price-from {
    }

    &__from {
    }

    &__line {
    }

    &__to {
    }

    &__price-select {
    }

    &__range-controls {
    }

    &__scale {
    }

    &__bar {
    }

    &__range-toggle {
    }

    &__filter-checkbox {
    }

    &__filter-checkbox-title {
    }

    &__filter-checkbox-hidden {
    }

    &__input-checkbox-container {
    }

    &__buttons {
    }

    &__button-show {
    }

    &__button-clear {
    }
}
.range-toggle-min {
}
.range-toggle-max {
}
.btn-red {
}
.btn-transparent {
}
.items {

    &__wrapper {
        padding: 24px 0 0 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
        
    }

    &__navigation {
    }

    &__navigation-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 60px 0 176px 0;
        row-gap: 36px;
    }

    &__navigation-button-more {
        padding: 16px 0;
        max-width: 175px;
        width: 100%;
    }

    &__navigation-pages {
        display: flex;
        align-items: center;
        column-gap: 8px;
    }

    &__button-right {
        padding: 0;
    }

    &__pagination {
        display: flex;
        align-items: center
    }

    &__page-item {
        position: relative;
        transition: all .1s ease-in-out;
        cursor: pointer;
        @extend %centre-flex-columb;
        width: 44px;
        height: 44px;
        &:after {
            content: '';
            width: 100%;
            height: 1px;
            background-color: $color-red;
            position: absolute;
            bottom: 0;
            left: 0;
            transition: all .1s ease-in-out;
            opacity: 0;
        }
        @include text($size: 0.875rem, $color: $color-black, $textAlign: center, $fontWeight: 600, $lineHeight: 20px);
        &.active {
            color: $color-red;
            &:hover {
                &:after {
                    opacity: 0;
                }
            }
        }
        &:hover {
            color: $color-red;
            &:after {
                opacity: 1;
            }
        }
    }

    &__button-left {
        padding: 0;
        transform: rotateZ(180deg);
    }
}

.filter-description {
    @extend %size-page;
    @extend %padding-country;

    &__title {
        @include text($size: 1rem, $color: $color-gray-70, $textAlign: left, $fontWeight: 700, $lineHeight: 24px);
        margin-bottom: 12px;
    }

    &__description {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
    }

    &__subtitle {
        @include text($size: 0.875rem, $color: $color-gray-70, $textAlign: left, $fontWeight: 400, $lineHeight: 24px);
    }
}
