.main-page {
    &__wrapper {
        padding: 68px 0 100px 0;
        @include __960 {
            padding: 68px 0 80px 0;
        }
    }
}

.product-selection {
    margin-bottom: 204px;
    &__wrapper {
        @extend %size-page;
        @extend %padding-country;
        justify-content: space-between;
        display: flex;
        background-repeat: no-repeat;
        background-position: right;
        background-image: url('/img/backgroung_4.png');
        @include __960 {
            padding: 80px 16px;
            justify-content: center;
            background-position: center;
            background-image: url('/img/backgroung_mobile.png');
        }
    }

    &__image-wrapper {
        max-width: 508px;
        width: 100%;
        @include __960 {
            display: none;
        }
    }

    &__image {

    }

    &__inputs {
        max-width: 400px;
        width: 100%;
        @include __1050 {
            max-width: 343px;
        }
    }

    &__title.main-title {
        margin-bottom: 48px;
        @include __960 {
            text-align: center;
        }
    }

    &__sex {
        @extend %centre-space-between;
        margin-bottom: 10px;
    }

    &__wrapper-input-checkbox {
        padding-right: 8px;
        cursor: pointer;
        position: relative;
        &::after {
            content: '';
            width: 100%;
            height: 1px;
            background-color: $color-red; 
            position: absolute;
            bottom: 0;
            left: 0;
            opacity: 0;
            transition: all .2s ease-in-out;
        }
        &.active {
            &::after { opacity: 1; }  
        }
        &:hover {
            &::after { opacity: 1; }
        }
    }


    &__input-image-wrapper {
        @extend %flex-center-horizontal;
        margin-bottom: 8px;
    }

    &__checkbox-section {
        @extend %left-flex;
        column-gap: 8px;
        padding-bottom: 8px;
    }

    &__checkbox {
        margin: 0;
        position: relative;
        height: 16px;
        width: 16px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: none;
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            transform: translate(-50%, -50%);
            border: 1px solid $color-gray-60;
        }
    }

    &__checkbox:checked::after { 
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $color-black;
        transform: translate(-50%, -50%);
        visibility: visible;
    }

    &__checkbox {
    }

    &__checkbox-label {
        @include text( $size: 0.875rem, $textAlign: left, $color: $color-black, $fontWeight: 400, $lineHeight: 24px);  
    }

    &__dropdowns {
    }

    &__button {
        width: 100%;
        padding: 16px 0;
        margin-bottom: 20px;
    }

    &__search {
       @extend %flex-center-horizontal;
       column-gap: 12px;
    }

    &__search-title {
        @include text( $size: 0.875rem, $textAlign: left, $color: $color-black, $fontWeight: 400, $lineHeight: 24px);  
    }

    &__search-result {
        @include text( $size: 0.875rem, $textAlign: left, $color: $color-black, $fontWeight: 600, $lineHeight: 20px); 
    }
}


.current-offers {

    &__wrapper {
        @extend %size-page;
        padding: 0 38px 0 38px;
        @include __960 {
            @include padding-mob;
        }
    }

    &__header {
        @extend %centre-space-between;
        margin-bottom: 38px;
        padding: 0 10px;
    }

    &__button {
        max-width: 173px;
        @include __960 {
            display: none;
        }
        &.hidden {
            @include __960 {
                display: flex;
            } 
        }
    }

    &__button-hidden {
        display: none;
        @include __960 {
            display: flex;
            justify-content: right;
        }
    }

    &__navigation {
        display: flex;
        column-gap: 36px;
        @include __960 {
            column-gap: 24px;  
        }
    }

    &__navigation-item {
        position: relative;
        transition: all .1s ease-in-out;
        display: inline-block;
        padding: 8px 12px;
        @include text( $size: 1.25rem, $textAlign: left, $color: $color-gray-80, $fontWeight: 600, $lineHeight: 28px);  
        &:hover {
            color: $color-red;
            &::after {
                width: 100%;
            }      
        }
        &.active {
            color: $color-gray-100;
            &::after {
                width: 100%;
            }
        }
        &::after {
            content: '';
            width: 0;
            height: 2px;
            background-color: $color-red;
            position: absolute;
            bottom: 0;
            left: 0;
            transition: all .2s ease-in-out;
        }
        @include __960 {
            font-size: 0.9375rem;
        }
    }

    &__accordions {
    }

    &__accordion {
        position: relative;
        display: none;
        &.active {
            display: block;
        }
    }

    &__slider-bestseller.swiper, &__slider-novelties.swiper, &__slider-stock.swiper {
        padding: 10px;
    }

    &__slider-bestseller {
    }

    &__slider-wrapper {
    }

    &__slider {
        margin-bottom: 33px;
    }

    &__slider-navigation {
        display: flex;
        height: 44px;
        align-items: center;
    }

    &__slider-prev.swiper-button-prev,
    &__slider-next.swiper-button-next {
        position: static;
        width: 44px;
        height: 44px;
        margin: 0;
        &::after {
            display: none;
        }
        @include __960 {
            display: none;
        }
    }

    &__slider-prev.swiper-button-disabled,
    &__slider-next.swiper-button-disabled {
        visibility: hidden;
    }

    &__scroll.swiper-scrollbar.swiper-scrollbar-horizontal {
        position: static;
        background-color: $color-gray-30;
        height: 2px;
        z-index: 1;
    }
    .swiper-scrollbar-drag {
        cursor: pointer;
        background-color: $color-black;
        transition: all .1s ease-in-out;
        &:hover {
            background-color: $color-red;
        }
        &:active {
            background-color: $color-red-70;
        }
    }

    &__slider-button-prev-line {
        left: 23px;
    } 
    &__slider-button-next-line {
        left: 0;
    } 

    &__slider-button-prev-line, &__slider-button-next-line {
        width: 20px;
        height: 1px;
        display: flex;
        background-color: #2D2D2D;
        position: absolute;
        top: 22px;
        opacity: 0;
        transition: all 0.2s ease-in-out;
    }

    &__prev-wrapper, &__next-wrapper {
        position: relative;
        font-size: 0;
    }

    &__slider-button-prev-line {
        width: 20px;
        height: 1px;
        display: flex;
        background-color: #2D2D2D;
        position: absolute;
        top: 22px;
        opacity: 0;
        transition: all 0.2s ease-in-out;
    }

    &__slider-prev:active &__slider-button-prev-svg {
        stroke: $color-red-70;
    }
    &__slider-prev:active &__slider-button-prev-line {
        background-color: $color-red-70;
    }
    &__slider-prev:hover &__slider-button-prev-svg {
        stroke: $color-red;
    }
    &__slider-prev:hover &__slider-button-prev-line {
        background-color: $color-red;
        opacity: 1;
        left: 13px;
    }

    &__slider-next:hover &__slider-button-next-svg {
        stroke: $color-red;
    }
    &__slider-next:active &__slider-button-next-line {
        background-color: $color-red-70;
    }
    &__slider-next:active &__slider-button-next-line {
        background-color: $color-red-70;
    }
    &__slider-next:active &__slider-button-next-svg {
        stroke: $color-red-70;
    }
    &__slider-next:hover &__slider-button-next-line {
        background-color: $color-red;
        opacity: 1;
        left: 13px;
    }

    .swiper-scrollbar-drag {
        background-color: #2D2D2D;
    }
}

.background-wrapper {
    @extend %size-page;
    background-repeat: no-repeat, no-repeat;
    background-image: url('/img/bg.png');
    background-position: right 0px;
}

.news {
    &__wrapper {
        padding: 100px 0 100px 0;
        @extend %size-page;
        @include __960 {
            padding: 80px 0 156px 0;
        }
    }

    &__header {
        @extend %centre-space-between;
        margin-bottom: 34px;
        padding: 0 48px 0 48px;
        @include __960 {
            padding: 0 16px 0 16px;
        }
    }

    &__button {
        max-width: 173px;
        @include __960 {
            display: none;
        }
    }

    &__items-wrapper {
        align-items: stretch;
        @extend %centre-space-between;
    }

    &__slider-wrp {
        padding: 0 38px 0 38px;
        @include __960 {
            padding: 0 6px 0 6px;
        }
    }

    &__slider.swiper {
        padding: 10px;
        margin-bottom: 32px;
    }

    &__mobile-button {
        display: none;
        @include __960 {
            display: flex;
            justify-content: flex-end;
        }
    }

    &__button-mobile-hidden {
        max-width: 173px;
    }

    &__item {
        position: relative;
        background: $color-white;
        box-shadow: 0px 4px 22px -8px rgba(0, 0, 0, 0.15);
        max-width: 424px;
        width: 100%;
        &:hover {
            box-shadow: none;
            outline: 1px solid $color-red-30;
        }
    }

    &__item:hover &__button-hidden {
        opacity: 1;
    }

    &__button-hidden {
        transition: all .2s ease-in-out;
        opacity: 0;
        max-width: 139px;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    &__image-wrapper {
        max-width: 424px;
        width: 100%;
    }

    &__image {
        width: 100%;
        height: auto;
    }

    &__description {
        padding: 20px 12px 24px 12px;
    }

    &__description-wrapper {
    }

    &__description-top {
        @extend %centre-space-between;
        margin-bottom: 4px;
    }

    &__description-data {
        @include text( $size: 0.75rem, $textAlign: left, $color: $color-gray-80, $fontWeight: 400, $lineHeight: 20px);  
    }

    &__description-title {
        margin-bottom: 12px;
        @include text( $size: 1rem, $textAlign: left, $color: $color-black, $fontWeight: 700, $lineHeight: 24px);  
    }

    &__subtitle {
        @include text( $size: 0.875rem, $textAlign: left, $color: $color-black, $fontWeight: 400, $lineHeight: 24px);  
    }
}

.stay-partner {

    &__wrapper {
        @extend %size-page;
        padding: 100px 48px 183px 48px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 100px;
        @include __960 {
            padding: 80px 16px 0 16px;
            flex-direction: column-reverse;
            align-items: center;
            row-gap: 64px;
            background-position: 50px -71px;
            margin-bottom: 160px;
        }

        @include __407 {
            background-position: -45px 0px;
        }
    }

    &__inputs-wrapper {
        max-width: 400px;
        width: 100%;
    }

    &__inputs-title {
        margin-bottom: 40px;
        @include text( $size: 1rem, $textAlign: left, $color: $color-black, $fontWeight: 700, $lineHeight: 24px);  
    }

    &__form {

    }

    &__input {
        max-width: 100%;
    }

    &__input-container.text {
        margin-bottom: 40px;
    }

    &__button {
        width: 100%;
        padding: 16px 0;
    }

    &__description-wrapper {
        max-width: 564px;
        width: 100%;
        @include __1150 {
            max-width: 380px;
        }
        @include __960 {
            padding-bottom: 64px;
        }
    }

    &__dropdown {
        margin-bottom: 32px;
    }


    &__button-wrapper {
        display: flex;
        justify-content: flex-end;
    }

    &__description-title {
        margin-bottom: 48px;
    }

    &__description {
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        margin-bottom: 8px;
    }

    &__subtitle {
        @include text( $size: 0.875rem, $textAlign: left, $color: $color-black, $fontWeight: 400, $lineHeight: 24px);  
    }

    &__button-title {
    }

    &__button-arrorw {
    }

    &__button-line-active {
    }

    &__button-arrow-state {
    }
}




.about-company {

    &__wrapper {
       @extend %size-page;
       padding: 0 152px;
        @include __960 {
            @include padding-mob;
        }
    }

    &__title {
       margin-bottom: 48px; 
    }

    &__description {
    }

    &__description-text {
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        margin-bottom: 12px;
    }

    &__subtitle {
    }

    &__button-wrapper {
        display: flex;
        justify-content: flex-end;
    }

    &__description-button {
       
    }

    &__button-title {
    }

    &__button-arrorw {
    }

    &__button-line-active {
    }

    &__button-arrow-state {
    }
}

.main-title {
    text-transform: uppercase;
    @include text( $size: 1.75rem, $textAlign: left, $color: $color-black, $fontWeight: 700, $lineHeight: 40px);  
}

.main-subtitle {
    @include text( $size: 0.875rem, $textAlign: left, $color: $color-black, $fontWeight: 400, $lineHeight: 24px);  
}

