.modal-on-click {
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transition: all .3s ease-in-out;
    &.active {
        z-index: 5;
        opacity: 1;
        visibility: visible;
        @include __640 {
          z-index: 4;
        }
    }

    &__mask {
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        display: table;
        transition: all 0.3s ease;
        @include __640 {
          z-index: 4;
        }
    }

    &.done &__container {
      @include __640 {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &__container {
      box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.1);
      background: #FEFEFE;
      max-width: 380px;
      width: 100%;
      margin: 0 auto;
      @include __640 {
        max-width: 375px;
        max-height: 100vh;
        overflow-y: auto;
      }
    }

    &__wrapper {
        display: table-cell;
        vertical-align: middle;
        transition: all 0.3s ease;
        padding-top: 96px;
        @include __640 {
          padding: 0;
        }
    }

    &__header {
      @extend %centre-space-between;
      background: #F7F7F7;
      padding: 12px 12px 12px 126px;
      @include __640 {
        padding-left: 24px;
        background-color: $color-black;
        justify-content: flex-end;
      }
    }

    &__title {
        @include text( $size: 1rem, $textAlign: left, $color: $color-black, $fontWeight: 700, $lineHeight: 24px);
        @include __640 {
          display: none;
        }
        &.hidden {
          display: none;
          @include __640 {
            display: inline-block;
            text-align: center;
            margin-bottom: 42px;
          }
        }
        &.order {
          @include __640 {
            display: block;
          }
        }
    }

    &__button-close {
        font-size: 0;
    }

    &__button-close-svg-line {
        transition: all .1s ease-in-out;
        @include __640 {
          fill: #FEFEFE;
        }
    }
    
    &__button-close:hover &__button-close-svg-line{
        fill: $color-red;
    }

    &__button-close:active &__button-close-svg-line{
        fill: $color-red-70;
    }

    &__main-wrapper {
      display: flex;
      flex-direction: column;
      padding: 20px 40px 40px 40px;
      @include __640 {
        padding: 80px 16px 100px 16px;
        min-height: auto;
      }
    }

    &__text-title {
        margin-bottom: 36px;
        @include text( $size: 0.875rem, $textAlign: left, $color: $color-black, $fontWeight: 400, $lineHeight: 24px);
    }

    &__input-container.tel {
     margin-bottom: 60px;
    }

    &__input {
        max-width: 100%;
    }

    &.done &__main-wrapper {
        padding: 78px 34px 146px 40px;
      @include __640 {
        padding: 80px 16px 200px 16px;
      }
    }
   
    &.done &__form{
      display: none;
    }

     &.done &__text-title{
      display: none;
    }

    &.done &__done{
      display: block;
    }
    &__done {
      display: none;
      text-align: center;
    }
    &__title.order {
        text-transform: uppercase;
        margin-bottom: 60px;
        @include text( $size: 1.25rem, $textAlign: center, $color: $color-black, $fontWeight: 600, $lineHeight: 24px);
      @include __960 {
        min-height: auto;
      }
    }

    &__subtitle {
        @include text( $size: 1rem, $textAlign: center, $color: $color-black, $fontWeight: 700, $lineHeight: 24px);
    }
    &__button {
        padding: 16px 0;
        width: 100%;
    }
}

.main-modal {
    transition: all .3s ease-in-out;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    &.active {
      visibility: visible;
      opacity: 1;
      z-index: 5;
      @include __860 {
        z-index: 4;
      }
    }
  
    &__mask {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(10px);
      display: table;
      transition: all 0.3s ease;
      @media (max-width: 860px) {
        z-index: 4;
      }
    }
  
    &__wrapper {
      display: table-cell;
      vertical-align: middle;
      transition: all 0.3s ease;
      padding-top: 96px;
      @include __860 {
        padding: 0;
      }
    }

    &__wrapper.active &__container {
      position: relative;
      z-index: -1;
      filter: blur(10px);
    }

    &__wrapper.active .modal-send-email {
        opacity: 1;
        visibility: visible;
        z-index: 2;
    }
  
    &__container {
      box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.1);
      margin: 0 auto;
      max-width: 460px;
      width: 100%;
      background-color: #F5F5F5;
      @media (max-width: 860px) {
        max-width: 375px;
        max-height: 100vh;
        overflow-y: auto;
        &::-webkit-scrollbar {
          width: 0;
        }
      }
    }
  
    &__header-wrapper {
      padding: 0 4px 0 60px;
      background-color: $color-black;
      @media (max-width: 860px) {
        background-color: #F5F5F5;
        padding: 24px 16px 20px 16px;
      }
    }
    &__close-modal {
      padding: 12px 16px 12px 0px;
      background-color: $color-black;
      display: none;
      justify-content: flex-end;
      @media (max-width: 860px) {
        display: flex;
      }
    }

    &__close-button-svg-line {
        transition: all .1s ease-in-out;
        fill: $color-gray-50;
    }
  
    &__navigation {
      @extend %centre-space-between;
    }
  
    &__navigation-list{
      display: flex;
      column-gap: 12px;
    }
  
    &__navigation-item.enter {
      @media (max-width: 860px) {
        width: 163px;
      }
    }
    &__navigation-item.enter.active{
      &::before {
        width: 100%;
      } 
    }

    &__navigation-item {
        width: 164px;
        position: relative;
        text-align: center;
        padding: 20px 0;
        &::before{
            content: '';
            width: 0px;
            height: 2px;
            position: absolute;
            bottom: 0;
            left: 0;
            background: $color-white;
            transition: width .3s ease-in-out;
            @include __860 {
              background: $color-black;
            }
          }
          &:hover {
            &::before {
                width: 100%;
            }
          }
    }

    &__navigation-item.register.active{
      &::before {
        width: 100%;
      } 
    }
  
    &__navigation-item:hover &__navigation-link {
        color: $color-white;
    }

    &__navigation-item.active &__navigation-link{
        color: $color-white;
        @include __860 {
          color: $color-black;
        }
    }
  
    &__navigation-link {
      text-transform: uppercase;
      display: inline-block;
      transition: all .1s ease-in-out;
      @include text( $size: 1.25rem, $textAlign: center, $color: $color-gray-50, $fontWeight: 600, $lineHeight: 28px);
      @include __860 {
        color: $color-gray-60;;
      }
    }
  
    &__close-button {
      font-size: 0;
      transition: all .1s ease-in-out;
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
      @media (max-width: 860px) {
        display: none;
      }

      &:hover .personal-area-modal__close-button-svg{
        border-radius: 50%;
        background-color: $color-gray-20;
      }

      &:active .personal-area-modal__close-button-svg-line {
        fill:$color-gray-60;
      }
    }

    &__close-button:hover &__close-button-svg-line{
        fill: $color-red;
    }

    &__close-button:active &__close-button-svg-line{
      fill: $color-red-70;
  }
  
  
    &__close-button.mobile {
      font-size: 0;
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
      @media (max-width: 860px) {
        display: block;
      }
    }
  
    &__main-wrapper {
      padding: 40px 40px 0 40px;
      @media (max-width: 860px) {
        padding: 40px 16px 0 16px;
      }
    }
  
    &__enter {
      display: none;
      &.active {
        display: block;
      }
    }
  
    &__wrapper-input {
      margin-bottom: 28px;
    }

    &__input-wrapper.password {
        margin-bottom: 4px;
    }

    &__input-wrapper.email {
      margin-bottom: 24px;
  }
  
    &__subtitle-wrapper {
      padding-left: 16px;
      font-size: 0;
      margin-bottom: 36px;
    }
  
    &__subtitle-link {
      display: inline-block;
      transition: all .1s ease-in-out;
      @include text( $size: 0.75rem, $textAlign: left, $color: $color-red-50, $fontWeight: 400, $lineHeight: 20px);
      &:hover {
        color: $color-red;
      }
    }
  
    &__button {
      width: 100%;
      padding: 16px 0;
      @media (max-width: 860px) {
        max-width: 100%;
      }
    }
  
    &__register {
      display: none;
      &.active {
        display: block;
      }
    }

    &__forget-password {
      display: none;
      &.active {
        display: block;
      }
    }

    &__forget-password-title {
      margin-bottom: 40px;
      @include text( $size: 1.25rem, $textAlign: left, $color: $color-black, $fontWeight: 600, $lineHeight: 28px);
    }

    &__input {
        max-width: 100%;
    }

    &__input-wrapper.email-forget {
      margin-bottom: 36px;
    }

    &__footer {
      padding: 20px 40px 40px 40px;
      @extend %centre-flex-columb;
      @media (max-width: 860px) {
        padding: 24px 16px 252px 16px;
      }
    }

    &__show-password-button {
        position: absolute;
        top: 12px;
        right: 14px;
        cursor: pointer;
        font-size: 0;
    }

    &__show-password-button:hover &__show-password-svg{
        fill: $color-black;
    }

    &__show-password-button:hover &__show-password-svg-on-hover{
      fill: $color-black;
  }

    &__show-password-button.active &__show-password-svg-on {
      display: inline-block;
    }

    &__show-password-button.active &__show-password-svg-off {
      display: none;
    }

    &__show-password-svg-on {
      display: none;
    }

  
    &__footer-title {
      display: block;
      margin-bottom: 20px;
      @include text( $size: 0.875rem, $textAlign: center, $color: #827D7D, $fontWeight: 400, $lineHeight:24px);
    }
  
    &__buttons-wrapper {
        width: 100%;
        display: flex;    
        column-gap: 12px;
      
      @media (max-width: 860px) {
        column-gap: 0;
        justify-content: space-between;
      }
    }
    
    &__button-social-network.facebook {
      @media (max-width: 860px) {
        
      }
    }
    &__button-social-network {
      width: 100%;
      border-radius: 1px;
      @extend %centre-flex;
      column-gap: 10px;
      padding: 16px 0;   
      transition: all .1s ease-in-out;
      @include __860 {
        max-width: 163px;
      }
    }

    &__form-register {
        display: flex;
        flex-direction: column;
        row-gap: 24px;
    }

    &__input-wrapper.name-register, &__input-wrapper.email-register,
    &__input-wrapper.password-register, &__input-wrapper.password-re-register{
        margin: 0;
    }

    &__input-wrapper.password-re-register {
        margin-bottom: 36px;
    }
}
  
.modal-send-email {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 343px;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transition: all .2s ease-in-out;
    box-shadow: 0px 4px 22px -8px rgba(0, 0, 0, 0.15);

		&__wrap {
      background: $color-white;
		}

		&__header {
      padding: 8px 8px 0 0;
      display: flex;
      justify-content: flex-end;
		}

		&__close {
      font-size: 0;
		}

    &__close:hover &__close-svg-line {
      fill: $color-red;
    }

    &__close:hover &__close-svg-line {
      fill: $color-red-70;
    }

		&__close-svg-line {
      transition: all .1s ease-in-out;
		}

		&__main {
      padding: 0 24px 48px 24px;
		}

		&__title {
      margin-bottom: 16px;
      @include text( $size: 1rem, $textAlign: center, $color: $color-black, $fontWeight: 700, $lineHeight: 24px);
		}

		&__subtitle {
      @include text( $size: 0.875rem, $textAlign: center, $color: $color-black, $fontWeight: 400, $lineHeight: 24px);
		}
}

.modal-sended-review {
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  transition: all .3s ease-in-out;
  background: $color-white;
  box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.1);
  max-width: 465px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include __640 {
    max-width: 375px;

  }
  &.active {
      visibility: visible;
      opacity: 1;
      z-index: 2;
      margin: 0 auto;
      @include __640 {
        z-index: 4;
      }
  }
  &__wrap {
      padding: 40px 12px;
      @extend %centre-space-between;
      @include __640 {
        flex-direction: column-reverse;
        row-gap: 246px;
        padding: 16px 16px 200px 16px;
        max-height: 100vh;
        overflow-y: auto;
      }
  }
  &__close {
    @include __640 {
      align-self: flex-end;
    }
  }

  &__title {
      width: 100%;
      @include text($size: 1rem, $color: $color-black, $textAlign: center, $fontWeight: 700, $lineHeight: 24px);
      @include __640 {
        @include text($size: 2rem, $color: $color-black, $textAlign: center, $fontWeight: 700, $lineHeight: 44px);
      }
    }

  &__close:hover &__close-svg-line {
      fill: $color-red;
  }

  &__close:active &__close-svg-line {
      fill: $color-red-70;
  }

  &__close-svg-line {
      transition: all .1s ease-in-out;
  }
}

.modal-stay-review {
  transition: all .3s ease-in-out;
  z-index: -1;
  opacity: 0;
  visibility: hidden;

  &.active {
      z-index: 5;
      opacity: 1;
      visibility: visible;
      @include __640 {
        z-index: 4;
      }
  }

  &__mask {
      position: fixed;
      z-index: 3;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.2);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      display: table;
      transition: all 0.3s ease;
      @include __640 {
        z-index: 4;
      }
  }

  &__wrapper {
      display: table-cell;
      vertical-align: middle;
      transition: all 0.3s ease;
      padding-top: 96px;
  }

  &__container {
      max-width: 604px;
      width: 100%;
      background: $color-white;
      box-shadow: 0px 4px 22px -8px rgba(0, 0, 0, 0.15);
      margin: 0 auto;
      transition: all .3s ease-in-out;
      @include __640 {
        max-width: 375px;
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        max-height: 100vh;
        overflow-y: auto;
      }
      &.hidden {
          opacity: 0;
          visibility: hidden;
      }
  }

  &__header {
      padding: 12px 12px 12px 12px;
      background-color: #F7F7F7;
      @extend %centre-space-between;
      @include __640 {
        padding: 16px;
      }
  }

  &__title {
      width: 100%;
      @include text($size: 1rem, $color: $color-black, $textAlign: center, $fontWeight: 700, $lineHeight: 24px);
      @include __640 {
        text-align: left;
        max-width: 247px;
      }
    }

  &__button-close {
      font-size: 0;
  }

  &__button-close:hover &__button-close-svg-line {
      fill: $color-red;
  }

  &__button-close:active &__button-close-svg-line {
      fill: $color-red-70;
  }

  &__button-close-svg-line {
      transition: all .1s ease-in-out;
  }

  &__main {
  }

  &__main-wrapper {
      padding: 40px;
      @include __640 {
        padding: 56px 16px 200px 16px;
      }
  }

  &__grade {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 18px;
      margin-bottom: 60px;
  }

  &__stars {
      display: flex;
      column-gap: 4px;
  }

  &__star {
      font-size: 0;
  }

  &__star:hover &__star-svg {
      fill: $color-red-50;
  }

  &__star-svg {
  }

  &__subtitle {
      @include text($size: 0.875rem, $color: $color-black, $textAlign: center, $fontWeight: 600, $lineHeight: 20px);
  }

  &__top-inputs {
      display: flex;
      justify-content: space-between;
      margin-bottom: 24px;
      @include __640 {
        flex-direction: column;
        row-gap: 24px;
      }
  }

  &__inputs {
  }

  &__form {
  }

  &__input-container {
      margin: 0;
      &.text {
          margin-bottom: 60px;
      }
  }


  &__input.name, &__input.tel {
      width: 250px;
      @include __640 {
        width: 100%;
      }
  }

  &__input {
      max-width: 100%;
  }

  &__label {
  }

  &__button {
      width: 100%;
      padding: 16px 0;
  }
}