.modal-on-click {
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transition: all .3s ease-in-out;
    &.active {
        z-index: 5;
        opacity: 1;
        visibility: visible;
        @include __640 {
          z-index: 4;
        }
    }

    &__mask {
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        display: table;
        transition: all 0.3s ease;
        @include __640 {
          z-index: 4;
        }
    }

    &.done &__container {
      @include __640 {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &__container {
      box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.1);
      background: #FEFEFE;
      max-width: 380px;
      width: 100%;
      margin: 0 auto;

      @include __640 {
        max-width: 375px;
        max-height: 100vh;
        overflow-y: auto;
      }
    }

    &__wrapper {
        display: table-cell;
        vertical-align: middle;
        transition: all 0.3s ease;
        padding-top: 96px;
        @include __640 {
          padding: 0;
        }
    }

    &__header {
      @extend %centre-space-between;
      background: #F7F7F7;
      padding: 12px 12px 12px 126px;
      @include __640 {
        padding-left: 24px;
        background-color: $color-black;
        justify-content: flex-end;
      }
    }

    &__title {
        @include text( $size: 16px, $textAlign: left, $color: $color-black, $fontWeight: 700, $lineHeight: 24px);
        @include __640 {
          display: none;
        }
        &.hidden {
          display: none;
          @include __640 {
            display: inline-block;
            text-align: center;
            margin-bottom: 42px;
          }
        }
        &.order {
          @include __640 {
            display: block;
          }
        }
    }

    &__button-close {
        font-size: 0;
    }

    &__button-close-svg-line {
        transition: all .1s ease-in-out;
        @include __640 {
          fill: #FEFEFE;
        }
    }
    
    &__button-close:hover &__button-close-svg-line{
        fill: $color-red;
    }

    &__button-close:active &__button-close-svg-line{
        fill: $color-red-70;
    }

    &__main-wrapper {
      display: flex;
      flex-direction: column;
      padding: 20px 40px 40px 40px;
      @include __640 {
        padding: 80px 16px 100px 16px;
        min-height: auto;
      }
    }

    &__text-title {
        margin-bottom: 36px;
        @include text( $size: 14px, $textAlign: left, $color: $color-black, $fontWeight: 400, $lineHeight: 24px);
    }

    &__input-container.tel {
     margin-bottom: 60px;
    }

    &__input {
        max-width: 100%;
    }

    &.done &__main-wrapper {
        padding: 78px 34px 146px 40px;
      @include __640 {
        padding: 80px 16px 200px 16px;
      }
    }
   
    &.done &__form{
      display: none;
    }

     &.done &__text-title{
      display: none;
    }

    &.done &__done{
      display: block;
    }
    &__done {
      display: none;
      text-align: center;
    }
    &__title.order {
        text-transform: uppercase;
        margin-bottom: 60px;
        @include text( $size: 20px, $textAlign: center, $color: $color-black, $fontWeight: 600, $lineHeight: 24px);
      @include __960 {
        min-height: auto;
      }
    }

    &__subtitle {
        @include text( $size: 16px, $textAlign: center, $color: $color-black, $fontWeight: 700, $lineHeight: 24px);
    }
    &__button {
        padding: 16px 0;
        width: 100%;
    }
}

.main-modal {
    transition: all .3s ease-in-out;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    &.active {
      visibility: visible;
      opacity: 1;
      z-index: 5;
      @include __860 {
        z-index: 4;
      }
    }
  
    &__mask {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(10px);
      display: table;
      transition: all 0.3s ease;
      @media (max-width: 860px) {
        z-index: 4;
      }
    }
  
    &__wrapper {
      display: table-cell;
      vertical-align: middle;
      transition: all 0.3s ease;
      padding-top: 96px;
      @include __860 {
        padding: 0;
      }
    }

    &__wrapper.active &__container {
      position: relative;
      z-index: -1;
      filter: blur(10px);
    }

    &__wrapper.active .modal-send-email {
        opacity: 1;
        visibility: visible;
        z-index: 2;
    }
  
    &__container {
      box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.1);
      margin: 0 auto;
      max-width: 460px;
      width: 100%;
      background-color: #F5F5F5;
      @media (max-width: 860px) {
        max-width: 375px;
        max-height: 100vh;
        overflow-y: auto;
        &::-webkit-scrollbar {
          width: 0;
        }
      }
    }
  
    &__header-wrapper {
      padding: 0 4px 0 60px;
      background-color: $color-black;
      @media (max-width: 860px) {
        background-color: #F5F5F5;
        padding: 24px 16px 20px 16px;
      }
    }
    &__close-modal {
      padding: 12px 16px 12px 0px;
      background-color: $color-black;
      display: none;
      justify-content: flex-end;

      @media (max-width: 860px) {
        display: flex;
      }
    }

    &__close-button-svg-line {
        transition: all .1s ease-in-out;
        fill: $color-gray-50;
    }
  
    &__navigation {
      @extend %centre-space-between;
    }
  
    &__navigation-list{
      display: flex;
      column-gap: 12px;
    }
  
    &__navigation-item.enter {
      @media (max-width: 860px) {
        width: 163px;
      }
    }
    &__navigation-item.enter.active{
      &::before {
        width: 100%;
      } 
    }

    &__navigation-item {
        width: 164px;
        position: relative;
        text-align: center;
        padding: 20px 0;
        &::before{
            content: '';
            width: 0px;
            height: 2px;
            position: absolute;
            bottom: 0;
            left: 0;
            background: $color-white;
            transition: width .3s ease-in-out;
            @include __860 {
              background: $color-black;
            }
          }
          &:hover {
            &::before {
                width: 100%;
            }
          }
    }

    &__navigation-item.register.active{
      &::before {
        width: 100%;
      } 
    }
  
    &__navigation-item:hover &__navigation-link {
        color: $color-white;
    }

    &__navigation-item.active &__navigation-link{
        color: $color-white;
        @include __860 {
          color: $color-black;
        }
    }
  
    &__navigation-link {
      text-transform: uppercase;
      display: inline-block;
      transition: all .1s ease-in-out;
      @include text( $size: 20px, $textAlign: center, $color: $color-gray-50, $fontWeight: 600, $lineHeight: 28px);
      @include __860 {
        color: $color-gray-60;;
      }
    }
  
    &__close-button {
      font-size: 0;
      transition: all .1s ease-in-out;
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
      @media (max-width: 860px) {
        display: none;
      }

      &:hover .personal-area-modal__close-button-svg{
        border-radius: 50%;
        background-color: $color-gray-20;
      }

      &:active .personal-area-modal__close-button-svg-line {
        fill:$color-gray-60;
      }
    }

    &__close-button:hover &__close-button-svg-line{
        fill: $color-red;
    }

    &__close-button:active &__close-button-svg-line{
      fill: $color-red-70;
  }
  
  
    &__close-button.mobile {
      font-size: 0;
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
      @media (max-width: 860px) {
        display: block;
      }
    }
  
    &__main-wrapper {
      padding: 40px 40px 0 40px;
      @media (max-width: 860px) {
        padding: 40px 16px 0 16px;
      }
    }
  
    &__enter {
      display: none;
      &.active {
        display: block;
      }
    }
  
    &__wrapper-input {
      margin-bottom: 28px;
    }

    &__input-wrapper.password {
        margin-bottom: 24px;
    }

    &__input-wrapper.email {
      margin-bottom: 40px;
  }
  
    &__subtitle-wrapper {
      padding-left: 16px;
      font-size: 0;
      margin-bottom: 36px;
    }
  
    &__subtitle-link {
      display: inline-block;
      transition: all .1s ease-in-out;
      @include text( $size: 12px, $textAlign: left, $color: $color-black, $fontWeight: 400, $lineHeight: 20px);
      &:hover {
        color: $color-red;
      }
    }
  
    &__button {
      width: 100%;
      padding: 16px 0;
      @media (max-width: 860px) {
        max-width: 100%;
      }
    }
  
    &__register {
      display: none;
      &.active {
        display: block;
      }
    }

    &__forget-password {
      display: none;
      &.active {
        display: block;
      }
    }

    &__forget-password-title {
      margin-bottom: 40px;
      @include text( $size: 20px, $textAlign: left, $color: $color-black, $fontWeight: 600, $lineHeight: 28px);
    }

    &__input {
        max-width: 100%;
    }

    &__input-wrapper.email-forget {
      margin-bottom: 36px;
    }

    &__footer {
      padding: 20px 40px 40px 40px;
      @extend %centre-flex-columb;
      @media (max-width: 860px) {
        padding: 24px 16px 252px 16px;
      }
    }

    &__show-password-button {
        position: absolute;
        top: 12px;
        right: 16px;
        cursor: pointer;
        font-size: 0;
    }

    &__show-password-button:hover &__show-password-svg{
        fill: $color-black;
    }

    &__show-password-button:hover &__show-password-svg-on-hover{
      fill: $color-black;
  }

    &__show-password-button.active &__show-password-svg-on {
      display: inline-block;
    }

    &__show-password-button.active &__show-password-svg-off {
      display: none;
    }

    &__show-password-svg-on {
      display: none;
    }

  
    &__footer-title {
      display: block;
      margin-bottom: 20px;
      @include text( $size: 14px, $textAlign: center, $color: #827D7D, $fontWeight: 400, $lineHeight:24px);
    }
  
    &__buttons-wrapper {
        width: 100%;
        display: flex;    
        column-gap: 12px;
      
      @media (max-width: 860px) {
        column-gap: 0;
        justify-content: space-between;
      }
    }
    
    &__button-social-network.facebook {
      @media (max-width: 860px) {
        
      }
    }
    &__button-social-network {
      width: 100%;
      border-radius: 1px;
      @extend %centre-flex;
      column-gap: 10px;
      padding: 16px 0;   
      transition: all .1s ease-in-out;
      @include __860 {
        max-width: 163px;
      }
    }

    &__form-register {
        display: flex;
        flex-direction: column;
        row-gap: 36px;
    }

    &__input-wrapper.name-register, &__input-wrapper.email-register,
    &__input-wrapper.password-register, &__input-wrapper.password-re-register{
        margin: 0;
    }

    &__input-wrapper.password-re-register {
        margin-bottom: 36px;
    }
}
  
.modal-send-email {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 343px;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transition: all .2s ease-in-out;
    box-shadow: 0px 4px 22px -8px rgba(0, 0, 0, 0.15);

		&__wrap {
      background: $color-white;
		}

		&__header {
      padding: 8px 8px 0 0;
      display: flex;
      justify-content: flex-end;
		}

		&__close {
      font-size: 0;
		}

    &__close:hover &__close-svg-line {
      fill: $color-red;
    }

    &__close:hover &__close-svg-line {
      fill: $color-red-70;
    }

		&__close-svg-line {
      transition: all .1s ease-in-out;
		}

		&__main {
      padding: 0 24px 48px 24px;
		}

		&__title {
      margin-bottom: 16px;
      @include text( $size: 16px, $textAlign: center, $color: $color-black, $fontWeight: 700, $lineHeight: 24px);
		}

		&__subtitle {
      @include text( $size: 14px, $textAlign: center, $color: $color-black, $fontWeight: 400, $lineHeight: 24px);
		}
}

.modal-sended-review {
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  transition: all .3s ease-in-out;
  background: $color-white;
  box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.1);
  max-width: 465px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include __640 {
    max-width: 375px;

  }
  &.active {
      visibility: visible;
      opacity: 1;
      z-index: 2;
      margin: 0 auto;
      @include __640 {
        z-index: 4;
      }
  }
  &__wrap {
      padding: 40px 12px;
      @extend %centre-space-between;
      @include __640 {
        flex-direction: column-reverse;
        row-gap: 246px;
        padding: 16px 16px 200px 16px;
        max-height: 100vh;
        overflow-y: auto;
      }
  }
  &__close {
    @include __640 {
      align-self: flex-end;
    }
  }

  &__title {
      width: 100%;
      @include text($size: 16px, $color: $color-black, $textAlign: center, $fontWeight: 700, $lineHeight: 24px);
      @include __640 {
        @include text($size: 32px, $color: $color-black, $textAlign: center, $fontWeight: 700, $lineHeight: 44px);
      }
    }

  &__close:hover &__close-svg-line {
      fill: $color-red;
  }

  &__close:active &__close-svg-line {
      fill: $color-red-70;
  }

  &__close-svg-line {
      transition: all .1s ease-in-out;
  }
}

.modal-stay-review {
  transition: all .3s ease-in-out;
  z-index: -1;
  opacity: 0;
  visibility: hidden;

  &.active {
      z-index: 99999999;
      opacity: 1;
      visibility: visible;
      @include __640 {
        z-index: 4;
      }
  }

  &__mask {
      position: fixed;
      z-index: 9999;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.2);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      display: table;
      transition: all 0.3s ease;
      @include __640 {
        z-index: 4;
      }
  }

  &__wrapper {
      display: table-cell;
      vertical-align: middle;
      transition: all 0.3s ease;
      padding-top: 96px;
  }

  &__container {
      max-width: 604px;
      width: 100%;
      background: $color-white;
      box-shadow: 0px 4px 22px -8px rgba(0, 0, 0, 0.15);
      margin: 0 auto;
      transition: all .3s ease-in-out;
      @include __640 {
        max-width: 375px;
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        max-height: 100vh;
        overflow-y: auto;
      }
      &.hidden {
          opacity: 0;
          visibility: hidden;
      }
  }

  &__header {
      padding: 12px 12px 12px 12px;
      background-color: #F7F7F7;
      @extend %centre-space-between;
      @include __640 {
        padding: 16px;
      }
  }

  &__title {
      width: 100%;
      @include text($size: 16px, $color: $color-black, $textAlign: center, $fontWeight: 700, $lineHeight: 24px);
      @include __640 {
        text-align: left;
        max-width: 247px;
      }
    }

  &__button-close {
      font-size: 0;
  }

  &__button-close:hover &__button-close-svg-line {
      fill: $color-red;
  }

  &__button-close:active &__button-close-svg-line {
      fill: $color-red-70;
  }

  &__button-close-svg-line {
      transition: all .1s ease-in-out;
  }

  &__main-wrapper {
      padding: 40px;
      @include __640 {
        padding: 56px 16px 200px 16px;
      }
  }

  &__grade {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 18px;
      margin-bottom: 60px;
  }

  &__stars {
      display: flex;
      column-gap: 4px;
  }

  &__star {
      font-size: 0;
  }

  &__star:hover &__star-svg {
      fill: $color-red-50;
  }

  &__subtitle {
      @include text($size: 14px, $color: $color-black, $textAlign: center, $fontWeight: 600, $lineHeight: 20px);
  }

  &__top-inputs {
      display: flex;
      justify-content: space-between;
      margin-bottom: 24px;
      @include __640 {
        flex-direction: column;
        row-gap: 24px;
      }
  }

  &__input-container {
      margin: 0;
      &.text {
          margin-bottom: 60px;
      }
  }


  &__input.name, &__input.tel {
      width: 250px;
      @include __640 {
        width: 100%;
      }
  }

  &__input {
      max-width: 100%;
  }

  &__button {
      width: 100%;
      padding: 16px 0;
  }
}

.modal-basket {
  transition: all .3s ease-in-out;
  z-index: -1;
  opacity: 0;
  visibility: hidden;

  &.active {
    z-index: 5;
    opacity: 1;
    visibility: visible;
    @include __640 {
      z-index: 4;
    }
  }

  &__empty-title {
    @include text($size: 18px, $color: $color-black, $textAlign: center, $fontWeight: 700, $lineHeight: 24px);

    margin-bottom: 24px;
  }

  &__empty-subtitle {
    @include text($size: 14px, $color: $color-black, $textAlign: center, $fontWeight: 600, $lineHeight: 20px);
    .modal-basket__empty-subtitle-link {
      color: $color-red-50;
    }
  }

  &__no-order-img-wrapper {
    max-width: 350px;
    width: 100%;

    margin: 0 auto 56px auto;
  }

  &__no-order-img {
    min-height: 288px;
  }

  &__mask {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    display: table;
    transition: all 0.3s ease;
    @include __640 {
      z-index: 4;
    }
  }

  &.active &__wrapper {
    max-width: 634px;
  }

  &__wrapper {
    transition: all .2s ease-in-out;
    display: table-cell;
    vertical-align: middle;
    transition: all 0.3s ease;
    position: fixed;
    top: 0;
    right: 0;
    overflow-y: auto;
    max-width: 0px;
    width: 100%;
    &::-webkit-scrollbar {
      width: 0;  
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    max-width: 634px;
    width: 100%;
    background: $color-white;
    box-shadow: 0px 4px 22px -8px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    height: 100vh;
    transition: all .3s ease-in-out;

    &.empty {
      .modal-basket__main {
        padding-top: 120px;
      }

      .modal-basket__footer {
        display: none;
      }
    }
    
    @include __640 {
      max-width: 375px;
      position: fixed;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      overflow-y: auto;
    }
  }

  &__header {
    position: sticky;
    top: 0;
    left: 0;

    @extend %centre-space-between;
    background-color: $color-black;
    padding: 12px 4px 12px 40px;
    @include __640 {
      padding: 12px;
    }
  }

  &__header-text-section {
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    column-gap: 102px;
    @include __640 {
      column-gap: 51px;
    }
  }

  &__header-title {
    text-transform: uppercase;
    @include text($size: 20px, $color: $color-white, $textAlign: left, $fontWeight: 600, $lineHeight: 28px);
  }

  &__button-clear {
    max-width: 191px;
    width: 100%;
    @include __640 {
      padding: 12px;
      max-width: 155px;
    }
  }

  &__item-delete:hover &__item-delete-def {
    display: none;
  }

  &__item-delete:hover &__item-delete-hover {
    display: block;
  }

  &__item-delete-hover {
    display: none;
  }

  &__button-clear:hover &__button-arrow-state,
  &__button-clear:active &__button-arrow-state {
    stroke: #f07585;
  }

  &__button-clear:hover &__button-title,
  &__button-clear:active &__button-title {
    color: #f07585;
  }

  &__button-clear:hover &__button-line-active,
  &__button-clear:active &__button-line-active {
    background-color: #f07585;
  }
  

  &__button-title {
    @include text($size: 14px, $color: $color-white, $textAlign: left, $fontWeight: 600, $lineHeight: 20px);
  }

  &__button-close {
    font-size: 0;
  }

  &__button-close:hover &__button-close-state {
    fill: $color-white;
  }

  &__button-close:active &__button-close-state {
    fill: $color-white;
  }

  &__button-close-state {
    transition: all .1s ease-in-out;
  }

  &__main {
    flex: 1 1 auto;
    background: $color-white;
    padding: 32px 16px 32px 36px;
    @include __640 {
      padding: 24px 16px 36px 12px;
    }
  }

  &__main-wrapper {
    padding-bottom: 10px;
    padding-right: 20px;
    height: 560px;
    overflow: auto;
    @include __640 { padding: 0; }
    &::-webkit-scrollbar {
      width: 4px; 
      @include __640 {
        width: 0;
        height: 0;
      }
    }
    &::-webkit-scrollbar-track {
      background: $color-white;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $color-gray-40;
    }
    
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding-left: 4px;
  }

  &__item {
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.08);
  }

  &__item-wrapper {
    padding: 8px;
  }

  &__item-top {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    column-gap: 8px;
  }

  &__item-image-wrapper {
    max-width: 44px;
    width: 100%;
  }

  &__item-name {
    align-self: flex-start;
    max-width: 434px;
    width: 100%;
    @include text($size: 14px, $color: $color-black, $textAlign: left, $fontWeight: 600, $lineHeight: 20px);
  }

  &__item-bottom {
    @extend %centre-space-between;
  }

  &__old-price {
    text-decoration-line: line-through;
    @include text($size: 12px, $color: $color-gray-70, $textAlign: left, $fontWeight: 600, $lineHeight: 20px);
  }

  &__new-price {
    @include text($size: 18px, $color: #090102, $textAlign: left, $fontWeight: 700, $lineHeight: 24px);
  }

  &__navigation {
    display: flex;
    align-items: center;
    column-gap: 2px;
  }

  &__del {
    font-size: 0;
  }

  &__del:hover &__del-svg {
    background-color: $color-red-10;
  }

  &__del:hover &__del-state {  
    fill: #141414;
  }

  &__del:disabled &__del-svg {
    background-color: $color-white;
  }

  &__del:disabled &__del-state {  
    fill: $color-gray-50;
  }

  &__del-state {
    transition: all .1s ease-in-out;
  }

  &__amount {
    @include text($size: 14px, $color: #040404, $textAlign: left, $fontWeight: 400, $lineHeight: 24px);
    @extend %flex-center-horizontal;
    width: 24px;
    height: 24px;

  }

  &__add {
    font-size: 0;
  }

  &__add:hover &__add-svg {
    background-color: $color-red-10;
  } 

  &__add:hover &__add-state {
    fill: $color-red-70;
  }

  &__add:disabled &__add-state {
    fill: $color-gray-70;
  }

  &__add-state {
    transition: all .1s ease-in-out;
  }

  &__footer {
    position: sticky;
    bottom: 0;
    left: 0;

    background-color: $color-white;
    box-shadow: 0px 4px 22px -8px rgba(0, 0, 0, 0.15);
  }

  &__footer-wrapper {
    padding: 20px 40px 20px 40px;
    @include __640 {
      padding: 36px 16px 16px 16px;
    }
  }

  &__full-price {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }

  &__full-price-title {
    @include text($size: 20px, $color: $color-black, $textAlign: left, $fontWeight: 600, $lineHeight: 28px);
  }

  &__footer-buttons {
    display: flex;
    column-gap: 20px;
    @include __640 {
      flex-direction: column;
      row-gap: 20px;
    }
  }

  &__button-confirm, &__button-continue {
    padding: 16px 0;
    width: 100%;
  }
}


.modal-zoom {
  position: relative;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  @media (max-width: 960px) {
    display: none;
  }
  &.active {
    visibility: visible;
    opacity: 1;
    z-index: 999999;
  }
  &__mask {
    position: fixed;
    z-index: 9999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    display: table;
    transition: all 0.3s ease;
  }
  &__main-slider-wrapper {
    padding-top: 52px;
  }

  &__wrapper {
    display: table-cell;
    vertical-align: middle;
    transition: all 0.3s ease;
  }
  &__container {
    overflow: hidden;
    margin: 0 auto;
    max-width: 1320px;
    width: 100%;
    background-color: #ffffff;
  }
  &__main {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 12px 60px 44px 24px;

    &.zoom {
      gap: 44px;
    }

    @include __1046 {
      padding: 8px 8px 20px 8px;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .main-information__button-buy {
      max-width: 100%;
    }

    .main-information__button-buy-on-click {
      max-width: 100%;
    }
  }

  &__navigation {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;

    padding-top: 64px;
  }
  &__navigation-close {
    align-self: flex-end;

    &.zoom {
      position: absolute;
      right: 12px;
      top: 12px;
    }
  }
  &__navigation-body {
    width: 100%;
    align-self: flex-start;
  }
  &__title {
    @include text(
      $size: 18px,
      $textAlign: left,
      $color: $color-black,
      $fontWeight: 700,
      $lineHeight: 24px
    );
    color: $color-black;
    margin-bottom: 48px;
  }

  &__discont {
    display: flex;
    flex-direction: column;

    @include text(
      $size: 14px,
      $textAlign: left,
      $color: $color-black,
      $fontWeight: 600,
      $lineHeight: 20px
    );

    .card-product-description.full-price {
      text-decoration-line: strikethrough;
      color: $color-gray-40;
    } 

    .card-product-description.description-persent {
      color: $color-red;
    }

    .modal-zoom__full-price {
      font-size: 12px;
    }
  }

  &__discon-wrp {
    display: flex;
    column-gap: 4px;
  }

  &__full-prises {
    margin-bottom: 32px;
  }

  &__button-buy {
    margin-bottom: 36px;
    @extend %centre-flex;
    column-gap: 16px;
  }
}

.slider-main {
  width: 600px;

  position: relative;

  overflow: hidden;

  @include __960 {
    width: 342px;
  }

  &.zoom {
    width: 704px;

    .slide__image {
      margin: auto;
    }
  }

  @include __640 {
    width: 342px;
  }

  &__wrapper {
    width: max-content;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    overflow: hidden;

    transition: transform 0.3s ease-in-out;

    cursor: grab;

    &.move {
      cursor: grabbing;
    }

    & > .slide {
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

      width: 600px;
      height: 600px;

      &.tuch {
        .slide__image-wrapper {
          pointer-events: auto;
          user-select: auto;

          iframe {
            min-width: 703px;;
            pointer-events: auto;
            user-select: auto;
          }
        }
      }

      @include __960 {
        width: 342px;
        height: 342px;
      }

      &.zoom {
        width: 704px;
        height: 704px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }

    .slide__image-wrapper {
      pointer-events: none;
      user-select: none;
    }

    .slide__image {
      pointer-events: none;
      user-select: none;
    }
  }
}

.modal-zoom {
  &__btn-prev {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    &:hover {
      .modal-zoom__btn-state {
        fill: #C12125;
      }
    }

    &:disabled {
      .modal-zoom__btn-state {
        fill: #C12125;
      }
    }
  }

  &__btn-next {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    &>svg {
      transform: rotateZ(180deg);
    }

    &:hover {
      .modal-zoom__btn-state {
        fill: #C12125;
      }
    }
  }
}

.slide-moving {
  .slide__image-wrapper {
    pointer-events: auto;
    user-select: auto;
  }

  .slide__image {
    pointer-events: auto;
    user-select: auto;
  }
}

.slide__image {
  width: 100%;
}

.paginaion {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include __960 {
      width: 379px;

      overflow: auto;

      align-items: flex-start;
      justify-content: flex-start;

      &::-webkit-scrollbar {
        width: 0px;
        height: 0px;
      }

      &::-moz-scrollbar {
        width: 0px;
        height: 0px;
      }
    }

    @include __640 {
      width: 303px;
    }

    .slide {
      position: relative;

      &.active {
        &::after {
          opacity: 1;
        }

        &:hover {
          &::before {
            opacity: 0;
          }
        }
      }

      &:hover {
        &::before {
            opacity: 1;
        }
      }

      &::after,  &::before{
        content: '';
        width: 2px;
        height: 100%;
        background-color: $color-red-50;
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
        @include __960 {
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            top: auto;
        }
      }

      &::before {
        left: 0;
      }
    }
  }

  &__button-prev {
    font-size: 0;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    @include __960 {
      display: none;
    }

    &:hover {
      .paginaion__button-prev-state {
        stroke: #C12125;
      }
    }

    &:disabled {
      cursor: auto;

      &:hover {
        .paginaion__button-prev-state {
          stroke: #827D7D;
        }
      }

      .paginaion__button-prev-state {
        stroke: #827D7D;
      }
    }
  }

  &__button-prev-img {
    transform: rotateZ(180deg);
  }

  &__slides {
    height: 512px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    scrollbar-width: none;

    gap: 16px;

    overflow: auto;
    cursor: pointer;

    &.zoom {
      height: 608px;

      gap: 16px;
    }

    &::-webkit-scrollbar {
      width: 0px;
    }

    @include __960 {
      width: max-content;
      height: 72px;
      flex-direction: row;

      gap: 4px;
    }

    & > .slide {
      width: 72px;
      height: 72px;

      @extend %centre-flex-columb;

      &.zoom {
        width: 88px;
        height: 88px;
      }
    }
  }
  

  &__button-next {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 0;

    @include __960 {
      display: none;
    }

    &:hover {
      .paginaion__button-next-state {
        stroke: #C12125;
      }
    }

    &:disabled {
      cursor: auto;

      &:hover {
        .paginaion__button-next-state {
          stroke: #827D7D;
        }
      }

      .paginaion__button-next-state {
        stroke: #827D7D;
      }
    }
  }
}

.card-slider {
  max-width: 696px;
  width: 100%;

  height: 600px;

  position: relative;

  margin-bottom: 142px;

  @media (max-width: 1150px) {
    margin: 0 auto;
  }

  &.zoom {
    max-width: 825px;
    height: auto;
    margin-bottom: 0;

    .card-slider__wrapper {
      padding-right: 16px;

      @include __1046 {
        padding-right: 4px;
      }
    }
  }

  @include __1046 {
    max-width: 100%;
  }

  @include __960 {
    max-width: 379px;
    width: 100%;

    height: auto;
    
    margin-bottom: 32px;
  }

  &__wrapper {
    position: relative;

    display: flex;
    justify-content: flex-start;

    padding: 0;
    gap: 16px;

    @media (max-width: 1150px) {
      justify-content: center;
    }

    @include __960 {
      flex-direction: column-reverse;
      align-items: center;
      padding: 0;
    }
  }

  &__btns-top {
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 4px 4px 0 0;
    gap: 4px;
  }

  &__btn {
    display: none;

    font-size: 0;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &.ok {
      display: block;
    }

    &.none {
      display: none;
    }

    &:hover {
      .card-slider__img-state {
        fill: #c12125;
      }
    }
  }

  &__btn-link {
/*     display: none; */
    font-size: 0;

    &.hidden {
      display: none;
    }

    &:hover {
      .card-slider__img-state {
        fill: #c12125;
      }
    }
  }

  &__open-modal {
    position: absolute;
    bottom: 0;
    right: 0;

    padding: 0 4px 4px 0 ;

    @include __960 {
      display: none;
    }

    &:hover {
      .card-slider__img-state {
        stroke: #c12125;
      }
    }
  }
}

.main-modal__close-button {
  &:hover {
    .main-modal__close-button-svg-line {
      fill: $color-white;
    }
  }

  &:active {
    .main-modal__close-button-svg-line {
      fill: $color-white;
    }
  }
}

.modal-info {
  display: none;

  &.active {
    display: block;
  }

  &.subscription {
    .modal-on-click__main-wrapper.order {
      display: none;
    }
  }

  &.order {
    .modal-on-click__main-wrapper.subscription {
      display: none;
    }
  }

  .modal-on-click__header {
    justify-content: flex-end;
  }

  .modal-on-click__header {
    padding: 12px;
  }

  .modal-on-click__main-wrapper {
    gap: 20px;
    align-items: center;
  }

  .modal-on-click__main-wrapper {
    &.subscription {
      .modal-on-click__subtitle {
        max-width: 300px;
      }
    }

    &.order {
      .modal-on-click__subtitle {
        max-width: 267px;
      }
    }
  } 

  .modal-on-click__subtitle {
    width: 100%;
  }

  .modal-on-click__title {
    line-height: 28px;
    margin-bottom: 0;
  }

  .modal-on-click__subtitle {
    font-size: 14px;
    font-weight: 400;
  }
}

.threesixty .nav_bar {
  right: 60px !important;
}