.news-section {
    &__wrapper {
        @extend %size-page;
        padding: 68px 48px 120px 48px;
        @include __960 {
            padding: 68px 16px 120px 16px;
        }
    }

    &__title {
        @include text( $size: 2rem, $textAlign: left, $color: $color-black, $fontWeight: 700, $lineHeight: 44px);
        margin-bottom: 40px;
    }

    &__news-blocks {
        display: flex;
        gap: 36px;
        flex-wrap: wrap;
        margin-bottom: 60px;
    }
}
.page {
    &__wrapper.news {
        padding: 16px 0px 20px 0px;
    }

}
