.ordering {

    &__wrapper {
        @extend %size-page;
            padding: 68px 48px 96px 48px;
            @include __960 {
                padding: 68px 16px 96px 16px;
            }
    }

    &__page-wrapper {
        padding: 16px 0 20px 0;
    }

    &__title {
        @include text( $size: 32px, $textAlign: left, $color: $color-black, $fontWeight: 700, $lineHeight: 44px);
        margin-bottom: 52px;
        @include __960 {
            font-size: 24px;
            margin-bottom: 12px;
        }
    }

    &__sections-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        gap: 20px;
        @include __960 {
            flex-direction: column-reverse;
        }
    }

    &__navigation {
        display: flex;
        justify-content: space-between;
        width: 584px;
        border-bottom: 1px solid $color-gray-30;
        margin-bottom: 24px;
        @include __1250 {
            width: 504px;
        }
        @include __960 {
            width: 464px;
            border: none;
        }
        @include __520 {
            width: 343px;
        }
    }

    &__new-user, &__regular-user {
        transition: all .1s ease-in-out;
        position: relative;
        padding: 12px;
        text-transform: uppercase;
        @include text( $size: 20px, $textAlign: left, $color: $color-gray-60, $fontWeight: 600, $lineHeight: 28px);
        @include __960 {
            text-transform: none;
            @include text( $size: 14px, $textAlign: left, $color: $color-gray-60, $fontWeight: 600, $lineHeight: 20px); 
        }
        &::after {
            content: '';
            position: absolute;
            bottom: -1px;
            left: 0;
            height: 1px;
            width: 0;
            transition: all .2s ease-in-out;
            background-color: $color-black;
        }
        &.active::after {
            width: 100%;
        }
        &:hover {
            color: $color-black;
        }
        &.active {
            color: $color-black;
            &:after {
                width: 100%;
            }
        }
    }

    &__new-user-section {
        display: none;
        flex-direction: column;
        &.active {
            display: flex;
        }
    }

    &__user-tabs {
        max-width: 864px;
        width: 100%;
    }

    &__contacts, &__delivery, &__payment-method {
        position: relative;
        padding: 48px 52px 48px 0;
        margin-bottom: 44px;

        background-color: #F7F7F7;
        border-radius: 0px 44px 44px 0px;

        &::before {
            content: '';
            width: 100%;
            height: 100%;

            position: absolute;
            top: 0;
            left: -100%;
            background-color: #F7F7F7;
        }
        @include __1356 {
            padding: 48px 30px 48px 0; 
        }
    }

    &__section-title {
        @include text( $size: 16px, $textAlign: left, $color: $color-black, $fontWeight: 700, $lineHeight: 24px);
        margin-bottom: 32px;
    }

    &__contacts-form {
        display: flex;
        justify-content: space-between;
        row-gap: 32px;
        flex-wrap: wrap;
        @include __960 {
            flex-wrap: nowrap;
            flex-direction: column;
        }
    }
    

    &__input-wrp {
        margin: 0;
        max-width: 360px;
        width: 100%;
        &.name {
            order: 2;
        }
        &.phone {
            order: 3;
        }
        &.surname {
            order: 1;
        }
        &.email {
            order: 4;
        }
    }

    &__input {
        max-width: 360px;
        @include __1356 {
            max-width: 327px; 
        }
    }

    &__label {
        text-transform: none;
    }

    &__post-dropdowns {
        max-width: 644px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 32px 44px;
    }

    &__post-checkbox {
        display: flex;
        column-gap: 84px;
        margin-bottom: 32px;
        @include __1090 {
            flex-direction: column;
            row-gap: 32px;
        }
    }

    &__checkbox-section {
        padding: 0;
        &.pay {
            align-items: center;
        }
    }

    &__dropdown {
        max-width: 300px;
        width: 100%;
    }

    &__checkbox-form-pay {
        display: flex;
        align-items: center;
        column-gap: 94px;
        @include __1324 {
            column-gap: 30px;
        }
        @include __1175 {
            flex-direction: column;
            align-items: flex-start;
            row-gap: 32px;
        }
    }

    &__checkbox-post {
        &.pay {
            display: flex;
            align-items: center;
        }
    }

    &__payment-method {
        margin-bottom: 36px;
    }

    &__tip {
        position: relative;
        cursor: pointer;
        font-size: 0;
    }

    &__tip:hover &__tip-description {
        z-index: 1;
        visibility: visible;
        opacity: 1;
    }

    &__tip:hover &__tip-state {
        fill: $color-white;
    }

    &__tip:hover &__tip-state-bg {
        fill: $color-red-50;
    }

    &__tip-state-bg {
        transition: all .2s ease-in-out;
    }

    &__tip-description {
        position: absolute;
        z-index: -1;
        visibility: hidden;
        opacity: 0;
        transition: all .2s ease-in-out;
        width: 300px;
        padding: 8px 12px;
        background-color: $color-white;
        top: -124px;
        left: -133px;
        box-shadow: 0px 4px 22px -8px rgba(0, 0, 0, 0.15);
        border-radius: 1px;
        &::after {
            content: "";
            width: 12px;
            height: 4px;
            background-repeat: no-repeat;
            background-image: url('../icon/ordering_arrow.png');
            position: absolute;
            bottom: -6px;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__tip-text {
        @include text( $size: 12px, $textAlign: left, $color: $color-black, $fontWeight: 400, $lineHeight: 20px);
    }

    &__footer {
        @extend %centre-flex-columb;
    }

    &__register-acc {
        margin-bottom: 36px;
    }

    &__register-acc-wrapper::before {
        display: none;
    }

    &__button-wrapper {
        max-width: 222px;
        width: 100%;
        margin-bottom: 12px;
    }

    &__button {
        padding: 16px 0;
        width: 100%;
    }

    &__license {
        max-width: 356px;
        width: 100%;
    }

    &__license-description {
        @include text( $size: 12px, $textAlign: center, $color: $color-gray-60, $fontWeight: 400, $lineHeight: 20px);
    }

    &__license-description-link {
        color: $color-red-50;
        transition: all .1s ease-in-out;
        &:hover {
            color: #E61E37;
        }
    }

    &__enter-reg-user {
        display: none;
        max-width: 380px;
        width: 100%;
        margin: 0 auto;
        &.active {
            display: block;
            @include __960 {
                max-width: 100%;
            }
            
        }
    }

    &__enter-wrapper {
        padding: 36px 0 120px 0;
    }

    &__forget-password {
        display: none;
        &.active {
            display: block;
        }
    }

    &__show-password-button {
        right: 16px;

    }

    &__enter-login {
        &.active {
            display: none;
        }
    }

    &__input-container.pass {
        margin-bottom: 4px;
    }

    &__register-acc-wrapper:hover {
        background-color: $color-white
    }

    &__input {
        &.enter {
            max-width: 100%;
        }
        &.email-forget-pass {
            max-width: 100%;
        }
    }

    &__subtitle-wrapper {
        margin-bottom: 36px;
    }

    &__button-enter {
       margin-bottom: 20px;
    }

    &__footer.order {
        align-items: flex-end;
    }

    &__footer-title {
        margin-bottom: 20px;
    }

    &__basket {
        max-width: 464px;
        width: 100%;
        box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.08);
        @include __960 {
            margin-bottom: 72px;
        }
    }

    &__basket-wrapper {
        padding: 16px;
        background: $color-white;
        @include __960 {
            padding: 8px 16px; 
        }
    }

    &__basket-header {
        transition: all .2s ease-in-out;
        @extend %centre-space-between;
        padding: 4px 0;
        margin-bottom: 16px;
        @include __960 {
            margin: 0;
            &.active {
                margin-bottom: 16px;
            }
        }
    }

    &__basket-title {
        @include text( $size: 20px, $textAlign: left, $color: $color-black, $fontWeight: 600, $lineHeight: 28px);
        @include __960 {
            @include text( $size: 18px, $textAlign: left, $color: $color-black, $fontWeight: 700, $lineHeight: 24px); 
        }
    }

    &__mobile-hidden-title { 
        transition: all .2s ease-in-out;
    }

    &__basket-header.active &__mobile-hidden-title {
        @include __960 {
            opacity: 0;
        }
    }

    &__button-header {
        max-width: 210px;
        width: 100%;
        @include __960 {
            display: none;
        }
    }

    &__button-header-mobile {
        display: none; 
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        @include __960 {
            display: flex;
            align-items: center;
            column-gap: 16px;
        }
    }

    &__basket-header.active &__arrow.mobile{
        transform: rotateZ(0deg);
    }

    &__arrow.mobile {
        font-size: 0;
        transition: all .2s ease-in-out;
        transform: rotateZ(180deg);
    }

    &__basket-dropdown {
        transition: all .2s ease-in-out;
        height: auto;
        @include __960 {
            overflow: hidden;
            height: 0;
            transition: all .2s ease-in-out;
        }
    }

    &__basket-main {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        margin-bottom: 16px;
    }

    &__order-item {
        border: 1px solid $color-red-30;
        padding: 12px 16px;
        display: flex;
        column-gap: 8px;
        align-items: center;
        @include __960 {
            padding: 8px 12px;
        }
    }

    &__image-wrapper {
        max-width: 44px;
        width: 100%;
        img {
            width: 100%;
            height: auto;
        }
    }


    &__name-product {
        @include text( $size: 14px, $textAlign: left, $color: $color-black, $fontWeight: 600, $lineHeight: 20px);
    }

    &__price {
        max-width: 148px;
        width: 100%;
        @include __960 {
            max-width: 80px;
        }
    }

    &__old-price {
        display: block;
        text-decoration-line: line-through;
        @include text( $size: 12px, $textAlign: right, $color: $color-gray-70, $fontWeight: 600, $lineHeight: 20px);
    }

    &__new-price {
        @include text( $size: 16px, $textAlign: right, $color: $color-black, $fontWeight: 700, $lineHeight: 24px);
        @include __960 {
            font-size: 12px;
            line-height: 20px;
        }
    }

    &__amount {
        padding: 12px 16px;
        display: flex;
        justify-content: flex-end;
        column-gap: 12px;
    }

    &__footer-title {
        @include text( $size: 14px, $textAlign: left, $color: $color-gray-60, $fontWeight: 400, $lineHeight: 24px);
    }

    &__footer-full-price {
        @include text( $size: 18px, $textAlign: left, $color: $color-black, $fontWeight: 700, $lineHeight: 24px);
    }
}

.test {
    position: relative;
    &.active &__list {
        opacity: 1;
    }

    &__wrapper {
        margin: 0;
    }
    &__list {
        position: absolute;
        top: 47px;
        left: 0;
        opacity: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        span {
            cursor: pointer;
        }
    }
}


