.order-waiting {
    &__wrapper {
        padding: 108px 48px 50px 48px;
        @extend %centre-flex-columb;
        @include __960 {
            padding: 108px 16px 50px 16px;
        }
    }

    &__image-wrapper {
        padding-right: 60px;
        max-width: 284px;
        width: 100%;
        @include __960 {
            max-width: 204px;
            margin-bottom: 24px;
            padding-right: 39px;
        }
    }

    &__image {
        width: 100%;
        height: auto;
    }

    &__test {
        width: 200px;
        height: 44px;
        background: #82A848;
        border-radius: 4px;
    }

    &__btn-wrp {
        display: flex;
        justify-content: center;
        margin-bottom: 48px;
    }

    &__title {
        @include text( $size: 2rem, $textAlign: center, $color: $color-green, $fontWeight: 700, $lineHeight: 44px);
        @include __960 {
            @include text( $size: 1.25rem, $textAlign: center, $color: $color-green, $fontWeight: 600, $lineHeight: 28px);
            max-width: 280px;
            width: 100%;
        }
    }

    &__title {
        margin-bottom: 36px;
        @include __960 {
            margin-bottom: 24px;
            margin: 0 auto 24px auto;
        }
    }

    &__subtitle {
        @include text( $size: 2rem, $textAlign: center, $color: $color-black, $fontWeight: 700, $lineHeight: 44px);
        margin-bottom: 19px;
        color: $color-black;
        margin-bottom: 65px;
        @include __960 {
            @include text( $size: 1.25rem, $textAlign: center, $color: $color-black, $fontWeight: 600, $lineHeight: 28px);
            max-width: 323px;
            width: 100%;
        }
    }

    &__waiting-subtitle {
        margin-bottom: 12px;
    }

    &__waiting-subtitle, &__social-networks-title {
        @include text( $size: 0.875rem, $textAlign: center, $color: $color-black, $fontWeight: 400, $lineHeight: 24px);
    }

    &__working-mode {
        @include text( $size: 1rem, $textAlign: center, $color: $color-black, $fontWeight: 700, $lineHeight: 24px);
        margin-bottom: 40px;
    }

    &__social-networks-title {
        margin-bottom: 12px;
    }

    &__social-networks-items {
        display: flex;
        justify-content: center;
        column-gap: 4px;
    }

    &__social-networks-link {
        transition: all .2s ease-in-out;
        font-size: 0;
        border-bottom: 1px solid $color-white;
    }

    &__social-networks-link:hover {
        border-color: $color-black;
    }

}
