.page {
    position: fixed;
    top: 68px;
    width: 100%;
    background-color: $color-white;
    &__wrapper {
        @extend %size-page;
        padding: 16px 48px 20px 48px;
    }

    &__title-link {
        transition: all .1s ease-in-out;
        @include text( $size: 0.75rem, $textAlign: left, $color: $color-gray-80, $fontWeight: 400, $lineHeight: 20px);
    }
    &__title-link.item:hover {
        text-shadow: 1px 0 0 currentColor;
    }
}
