.personal-area {
    &__wrapper {
        padding: 68px 0 100px 0;
    }
}

.navigation-bar {

    &__wrapper {
        border-top: 1px solid $color-gray-30;
        border-bottom: 1px solid $color-gray-30;
    }

    &__navigation {
        @extend %size-page;
        @extend %padding-country;
        display: flex;
        align-items: center;
        column-gap: 16px;
        overflow-y: hidden;
        white-space: nowrap;
        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
        @include __960 {
            @include padding-mob;
        }
    }

    &__user-name {
        display: block;
        padding: 12px 16px 12px 0;
        @include text( $size: 0.875rem, $textAlign: center, $color: $color-black, $fontWeight: 600, $lineHeight: 20px);
        @include __960 {
            display: none;
        }
    }

    &__tabs {
        padding: 0 16px;
        border-left: 1px solid $color-gray-30;
        border-right: 1px solid $color-gray-30;
        display: flex;
        column-gap: 16px;
        @include __960 {
            border-left: none;
            padding-left: 0;
        }
    }

    &__menu-item {
        padding: 12px 16px;
        position: relative;
        transition: all .1s ease-in-out;
        @include text( $size: 0.875rem, $textAlign: center, $color: $color-gray-100, $fontWeight: 400, $lineHeight: 24px);
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            opacity: 0;
            transition: all .2s ease-in-out;
            width: 100%;
            height: 1px;
            background-color: $color-red;
        }
        &.active {
            color: $color-red;
            &::after {
                opacity: 1;
            }
        }
        &:active {
            color: $color-red-70;
            &::after {
                opacity: 1;
                background-color: $color-red-70;
            }
        }
        &.disabled {
            color: $color-gray-60;
            cursor: default;
            &:active {
                &::after {
                    opacity: 0;
                }
            }
            &.active {
                &::after {
                    opacity: 0;
                }
            }
        }
    }

    &__login-out {
        padding-left: 28px;
        max-width: 195px;
        @include __960 {
            padding-right: 28px;
        }
    }

    &__button-title {
        color: $color-gray-60;
    }

    &__button-arrow {
        @include __960 {
            display: none;
        }
    }

    &__line-active {
    }

    &__arrow-state {
        stroke: $color-gray-60;
    }
}

.favorites {
    display: none;
    &.active {
        display: block;
    }

    &__wrapper {
        padding: 24px 48px 80px 48px;
        @extend %size-page;
        @include __960 {
            @include padding-mob;
        }
    }

    &__not-empty {
        display: none;
        &.active {
            display: block;
        }
    }

    &__empty {
        display: none;
        &.active {
            display: block;
        }
    }

    &__navigation {
        @extend %centre-space-between;
        margin-bottom: 24px;
    }

    &__button {
        padding: 11px 36px;
        @include __960 {
            padding: 11px 13.5px;
        }
    }

    &__button-title {
        &.hidden {
            display: none;
            @include __960 {
                display: inline-block;
            }
        }
        @include __960 {
            display: none;
        }
    }

    &__dropdown {
        max-width: 232px;
        width: 100%;
        height: 44px;
    }

    &__dropdown-input {
        cursor: pointer;
        padding: 10px 0 10px 16px;
        border: 1px solid $color-red-30;
    }

    &__products-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
        @include __749 {
            justify-content: center;
        }
    }

    &__product-item {
        @include __960 {
            max-width: 343px;
        }
    }

    &__empty {
    }

    &__empty-wrapper {
        padding-top: 104px;
        @extend %centre-flex-columb;
        @include __640 {
            padding-top: 42px;
        }
    }

    &__empty-title {
        text-transform: uppercase;
        margin-bottom: 40px;
        @include text( $size: 1.25rem, $textAlign: center, $color: #000000, $fontWeight: 600, $lineHeight: 28px);
    }

    &__empty-subtitle {
        display: flex;
        align-items: center;
        @include text( $size: 0.825rem, $textAlign: center, $color: #2D2D2D, $fontWeight: 400, $lineHeight: 24px);
        &.img {
            margin-bottom: 40px;
        }
    }

    &__empty-button {
        padding: 16px 0;
        max-width: 240px;
        width: 100%;
    }
}

.private-data {
    display: none;
    &.active {
        display: block;
    }

    &__wrapper {
        @extend %size-page;
        padding: 24px 0 120px 0;
    }

    &__inputs-wrapper {
        display: flex;
        column-gap: 60px;
        margin-bottom: 60px;
        @include __1090 {
            column-gap: 30px;
        }
        @include __860 {
            flex-direction: column;
            align-items: center;
            row-gap: 60px;
        }
    }

    &__private-info {
    }

    &__private-info-wrapper {
        padding: 48px;
        @include __960 {
            padding: 48px 16px;
        }
    }

    &__title {
        @include text( $size: 1rem, $textAlign: left, $color: $color-black, $fontWeight: 700, $lineHeight: 24px);
        margin-bottom: 32px;
    }

    &__form {
        width: 400px;
        @include __1090 {
            width: 343px;
        }
    }

    &__input-wrp {
        &.last {
            margin-bottom: 12px;
        }
    }

    &__input {
        max-width: 100%;
    }

    &__show-password-button {
        right: 16px;
        opacity: 0;
        z-index: -1;
        transition: all .2s ease-in-out;
        &.active {
            opacity: 1;
            z-index: 1; 
        }
    }

    &__input-checkbox {
        position: absolute;
        z-index: -1;
        opacity: 0;
      }

      &__label-checkbox {
        padding-left: 26px;
        display: inline-flex;
        align-items: center;
        user-select: none;
        position: relative;
        width: 100%;
        height: 24px;
        @include text($size: 0.875rem, $color: $color-gray-80, $textAlign: left, $fontWeight: 400, $lineHeight: 24px);
        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            display: inline-block;
            width: 12px;
            height: 12px;
            transition: all .1s ease-in-out;
            border: 1px solid $color-gray-60;
        }
    }

      &__input-checkbox:checked + &__label-checkbox::before {
        border-color: $color-red;
        background-color: $color-red;
        width: 8px;
        height: 8px;
        top: 12px;
        left: 4px;
      }

 
      &__input-checkbox:not(:disabled):not(:checked) + &__label-checkbox:hover::before {
        border-color: $color-gray-100;
        width: 14px;
        height: 14px;
     }

    &__input-checkbox:not(:disabled):active + &__label-checkbox::before {
        background-color: $color-red;
        border-color: $color-red;
    }

    &__input-container {
        transition: all .1s ease-in-out;
        position: relative;
    }

    &__input-container:hover &__label-checkbox {
        color: $color-gray-100;
    }

    &__input-container.active:hover &__label-checkbox {
        color: $color-black;
    }

    &__change-password {
    }

    &__change-password-wrapper {
        padding: 48px;
        @include __960 {
            padding: 48px 16px;
        }
    }

    &__button-wrapper {
        padding: 0 48px;
        @include __960 {
            padding: 0 16px;
            display: flex;
            justify-content: center;
        }
    }

    &__button {
        padding: 12px 0;
        max-width: 419px;
        width: 100%;
        @include __960 {
            max-width: 343px;
        }
    }
}

.my-orders {
    display: none;
    &.active {
        display: block
    }

    &__wrapper {
        @extend %size-page;
        padding: 24px 48px 120px 48px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
}
.order {
    &.active {
        outline: 1px solid $color-red-30;
    }

    &__short-information {
        outline: 1px solid $color-red-30;
        background-color: $color-white;
        cursor: pointer;
        transition: all .1s ease-in-out;
        &:hover {
            outline-color: $color-red-50;
        }
    }

    &.active:hover &__short-information {
        outline: none;
    }

    &.active:hover &__arrow-state {
        stroke: $color-black;
    }

    &.active &__arrow {
        transform: rotateZ(180deg);
    }

    &__short-information:hover &__arrow-state {
        stroke: $color-red;
    }

    &__short-information.active:hover &__arrow-state {
        stroke: $color-black;
    }

    &__arrow-state {
        transition: all .1s ease-in-out;
    }

    &__short-information-wrapper {
        @extend %centre-space-between;
        padding: 12px 24px;
    }

    &__short-information-left-section {
        display: flex;
        align-items: center;
    }

    &__status {
        margin-right: 60px;
    }

    &__status-wrp {
        display: flex;
        align-items: center;
        column-gap: 4px;
    }

    &.in-the-process &__status-title.in-the-process {
        display: block;
    }

    &.canceled &__status-title.canceled {
        display: block;
    }

    &.success &__status-title.success {
        display: block;
    }

    &__status-title {
        display: none;
        @include text( $size: 0.875rem, $textAlign: left, $color: $color-black, $fontWeight: 700, $lineHeight: 20px);
    }

    &__status-img {
        display: none;
    }

    &.in-the-process &__status-img.in-the-process {
        display: block;
    }

    &.canceled &__status-img.canceled {
        display: block;
    }

    &.success &__status-img.success {
        display: block;
    }

    &__arrow {
        font-size: 0;
        transition: all .2s ease-in-out;
        &.mobile {
            display: none;
            @include __960 {
                display: block;
            }
        }
        @include __960 {
            display: none;
        }
    }

    &__arrow-state {
    }

    &__data-order {
        margin-right: 96px;
    }

    &__data-order, &__sum, &__amount-product{
        display: flex;
        flex-direction: column;
        row-gap: 4px;
    }

    &__data {
        @include text( $size: 0.875rem, $textAlign: left, $color: $color-gray-60, $fontWeight: 400, $lineHeight: 24px);
    }

    &__data-subtitle-order {
        @include text( $size: 1rem, $textAlign: left, $color: $color-black, $fontWeight: 700, $lineHeight: 24px);
    }

    &__sum {
        margin-right: 128px;
    }

    &__sum-title, &__amount-title, &__amount-product {
        @include text( $size: 0.875rem, $textAlign: left, $color: $color-gray-60, $fontWeight: 400, $lineHeight: 24px);
    }

    &__sum-subtitle,  &__amount-subtitle{
        @include text( $size: 1rem, $textAlign: left, $color: $color-black, $fontWeight: 600, $lineHeight: 20px);
    }

    &__amount-product {
        margin-right: 47px;
    }

    &__amount-subtitle {
    }

    &__images-product {
        display: flex;
        column-gap: 12px;
    }

    &__image-wrapper {

    }

    &__short-information-right-section {
    }

    &__full-information {
        height: 0;
        overflow: hidden;
        transition: all .2s ease-in-out;
    }

    &__full-information-wrapper-section {
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
    }

    &__full-information-wrapper {
       
        padding: 24px 24px 40px 24px;
    }

    &__full-information-left-section {
    }

    &__about-order {
        display: block;
        @include text( $size: 0.875rem, $textAlign: left, $color: $color-gray-60, $fontWeight: 400, $lineHeight: 24px);
        margin-bottom: 12px;
    }

    &__list-info {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
    }

    &__list-item {
        @include text( $size: 0.875rem, $textAlign: left, $color: $color-black, $fontWeight: 400, $lineHeight: 24px);
    }

    &__full-information-right-section {
    }

    &__title-navigation {
        display: flex;
        column-gap: 40px;
        border-bottom: 1px solid $color-gray-30;
        padding: 0 247px 0 88px;
        
    }

    &__title-navigation-item {
        width: 120px;
        @include text( $size: 0.875rem, $textAlign: left, $color: $color-gray-60, $fontWeight: 400, $lineHeight: 24px);
        &:nth-child(1) {
            width: 41px;
            margin-right: 178px;
        }
    }

    &__full-info-details {
    }

    &__details-item {
        display: flex;
        align-items: center;
        column-gap: 40px;
        padding: 8px 16px;
        border-bottom: 1px solid $color-gray-30;
    }

    &__details-name-product {
        display: flex;
        column-gap: 12px;
        align-items: center;
        cursor: pointer;
    }

    &__details-name-product:hover &__details-name {
        color: $color-red;
    }

    &__details-name {
        transition: all .1s ease-in-out;
        max-width: 218px;
        width: 100%;
        @include text( $size: 0.875rem, $textAlign: left, $color: $color-black, $fontWeight: 600, $lineHeight: 20px);
    }

    &__details-central-wrapper {
        display: flex;
        column-gap: 40px;
    }

    &__details-price {
    }

    &__details-price-title {
        display: none;
        @include __960 {
            display: block;
        }
    }

    &__details-price-subtitle, &__details-amount-subtitle, &__details-sum-subtitle {
        display: inline-block;
        width: 120px;
        @include text( $size: 0.875rem, $textAlign: left, $color: $color-black, $fontWeight: 600, $lineHeight: 20px);
    }

    &__details-amount {
    }

    &__details-amount-title {
        display: none;
        @include __960 {
            display: block;
        }
    }



    &__details-sum {
    }

    &__details-sum-title {
        display: none;
        @include __960 {
            display: block;
        }
    }



    &__button-wrapper {
    }

    &__button-stay-review {
        padding: 12px 36.5px;
    }

    &__footer {
        display: flex;
        justify-content: flex-end;
    }


    &__full-information-footer {
        max-width: 336px;
        width: 100%;
    }

    &__payment {
        margin-bottom: 12px;
    }

    &__payment-title, &__total-title {
        @include text( $size: 0.875rem, $textAlign: left, $color: $color-gray-60, $fontWeight: 400, $lineHeight: 24px);
    }

    &__payment-subtitle {
        @include text( $size: 0.875rem, $textAlign: left, $color: $color-black, $fontWeight: 400, $lineHeight: 24px);
    }

    &__total, &__payment {
        display: flex;
        justify-content: space-between;
    }

    &__total {
        margin-bottom: 36px;
    }

    &__total-subtitle {
        @include text( $size: 1rem, $textAlign: left, $color: $color-black, $fontWeight: 700, $lineHeight: 24px);
    }

    &__button-repeat-order-wrapper {

    }

    &__button-repeat-order {
        max-width: 100%;
        width: 100%;
        padding: 12px 0;
    }

}

