:root {
    --transform: 0;
}

.personal-area {
    &__wrapper {
        padding: 68px 0 100px 0;
    }
}

.page.personal-area {
    &__wrapper.personal-area {
        padding: 16px 48px 20px 48px;
    }
}

.navigation-bar-empty {
    height: 50px;
    width: 100%;
    display: none;
    &.active {
        display: block;
    }
}

.navigation-bar {
    &.active {
        position: fixed;
        top: 68px;
        left: 0;
        z-index: 1;
        background-color: $color-white;
        width: 100%;
    }

    &__wrapper {
        border-top: 1px solid $color-gray-30;
        border-bottom: 1px solid $color-gray-30;
    }

    &__navigation {
        @extend %size-page;
        @extend %padding-country;
        display: flex;
        align-items: center;
        column-gap: 16px;
        overflow-y: hidden;
        white-space: nowrap;
        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
        @include __960 {
            @include padding-mob;
        }
    }

    &__user-name {
        display: block;
        padding: 12px 16px 12px 0;
        @include text( $size: 0.875rem, $textAlign: center, $color: $color-black, $fontWeight: 600, $lineHeight: 20px);
        @include __960 {
            display: none;
        }
    }

    &__tabs {
        padding: 0 16px;
        border-left: 1px solid $color-gray-30;
        border-right: 1px solid $color-gray-30;
        display: flex;
        column-gap: 16px;
        @include __960 {
            border-left: none;
            padding-left: 0;
        }
    }

    &__menu-item {
        padding: 12px 16px;
        position: relative;
        transition: all .1s ease-in-out;
        @include text( $size: 0.875rem, $textAlign: center, $color: $color-gray-100, $fontWeight: 400, $lineHeight: 24px);
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            opacity: 0;
            transition: all .2s ease-in-out;
            width: 100%;
            height: 1px;
            background-color: $color-red;
        }
        &.active {
            color: $color-red;
            &::after {
                opacity: 1;
            }
        }
        &:active {
            color: $color-red-70;
            &::after {
                opacity: 1;
                background-color: $color-red-70;
            }
        }
        &.disabled {
            color: $color-gray-60;
            cursor: default;
            &:active {
                &::after {
                    opacity: 0;
                }
            }
            &.active {
                &::after {
                    opacity: 0;
                }
            }
        }
    }

    &__login-out {
        padding-left: 28px;
        max-width: 195px;
        @include __960 {
            padding-right: 28px;
        }
    }

    &__button-title {
        color: $color-gray-60;
    }

    &__button-arrow {
        @include __960 {
            display: none;
        }
    }

    &__arrow-state {
        stroke: $color-gray-60;
    }
}

.favorites {
    display: none;
    &.active {
        display: block;
    }

    &__wrapper {
        padding: 24px 48px 80px 48px;
        @extend %size-page;
        @include __960 {
            @include padding-mob;
        }
    }

    &__not-empty {
        display: none;
        &.active {
            display: block;
        }
    }

    &__empty {
        display: none;
        &.active {
            display: block;
        }
    }

    &__navigation {
        @extend %centre-space-between;
        margin-bottom: 24px;
    }

    &__button {
        padding: 11px 36px;
        @include __960 {
            padding: 11px 13.5px;
        }
    }

    &__button-title {
        &.hidden {
            display: none;
            @include __960 {
                display: inline-block;
            }
        }
        @include __960 {
            display: none;
        }
    }

    &__dropdown {
        max-width: 232px;
        width: 100%;
        height: 44px;
    }

    &__dropdown-input {
        cursor: pointer;
        padding: 10px 0 10px 16px;
        border: 1px solid $color-red-30;
    }

    &__products-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
        @include __749 {
            justify-content: center;
        }
    }

    &__product-item {
        @include __960 {
            max-width: 343px;
        }
    }

    &__empty-wrapper {
        padding-top: 104px;
        @extend %centre-flex-columb;
        @include __640 {
            padding-top: 42px;
        }
    }

    &__empty-title {
        text-transform: uppercase;
        margin-bottom: 40px;
        @include text( $size: 1.25rem, $textAlign: center, $color: #000000, $fontWeight: 600, $lineHeight: 28px);
    }

    &__empty-subtitle {
        display: flex;
        align-items: center;
        @include text( $size: 0.825rem, $textAlign: center, $color: #2D2D2D, $fontWeight: 400, $lineHeight: 24px);
        &.img {
            margin-bottom: 40px;
        }
    }

    &__empty-button {
        padding: 16px 0;
        max-width: 240px;
        width: 100%;
    }
}

.private-data {
    display: none;
    &.active {
        display: block;
    }

    &__wrapper {
        @extend %size-page;
        padding: 24px 0 120px 0;
    }

    &__inputs-wrapper {
        display: flex;
        column-gap: 60px;
        margin-bottom: 60px;
        @include __1090 {
            column-gap: 30px;
        }
        @include __860 {
            flex-direction: column;
            align-items: center;
            row-gap: 60px;
        }
    }

    &__private-info-wrapper {
        padding: 48px;
        @include __960 {
            padding: 48px 16px;
        }
    }

    &__title {
        @include text( $size: 1rem, $textAlign: left, $color: $color-black, $fontWeight: 700, $lineHeight: 24px);
        margin-bottom: 32px;
    }

    &__form {
        width: 400px;
        @include __1090 {
            width: 343px;
        }
    }

    &__input-wrp {
        &.last {
            margin-bottom: 12px;
        }
    }

    &__input {
        max-width: 100%;
    }

    &__show-password-button {
        right: 16px;
        opacity: 0;
        z-index: -1;
        transition: all .2s ease-in-out;
        &.active {
            opacity: 1;
            z-index: 1; 
        }
    }

    &__input-checkbox {
        position: absolute;
        z-index: -1;
        opacity: 0;
      }

      &__label-checkbox {
        padding-left: 26px;
        display: inline-flex;
        align-items: center;
        user-select: none;
        position: relative;
        width: 100%;
        height: 24px;
        @include text($size: 0.875rem, $color: $color-gray-80, $textAlign: left, $fontWeight: 400, $lineHeight: 24px);
        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            display: inline-block;
            width: 12px;
            height: 12px;
            transition: all .1s ease-in-out;
            border: 1px solid $color-gray-60;
        }
    }

      &__input-checkbox:checked + &__label-checkbox::before {
        border-color: $color-red;
        background-color: $color-red;
        width: 8px;
        height: 8px;
        top: 12px;
        left: 4px;
      }

 
      &__input-checkbox:not(:disabled):not(:checked) + &__label-checkbox:hover::before {
        border-color: $color-gray-100;
        width: 14px;
        height: 14px;
     }

    &__input-checkbox:not(:disabled):active + &__label-checkbox::before {
        background-color: $color-red;
        border-color: $color-red;
    }

    &__input-container {
        transition: all .1s ease-in-out;
        position: relative;
    }

    &__input-container:hover &__label-checkbox {
        color: $color-gray-100;
    }

    &__input-container.active:hover &__label-checkbox {
        color: $color-black;
    }

    &__change-password-wrapper {
        padding: 48px;
        @include __960 {
            padding: 48px 16px;
        }
    }

    &__button-wrapper {
        padding: 0 48px;
        @include __960 {
            padding: 0 16px;
            display: flex;
            justify-content: center;
        }
    }

    &__button {
        padding: 12px 0;
        max-width: 419px;
        width: 100%;
        @include __960 {
            max-width: 343px;
        }
    }
}

.my-orders {
    display: none;
    &.active {
        display: block
    }

    &__wrapper {
        @extend %size-page;
        padding: 24px 48px 120px 48px;
        @include __960 {
            @include padding-mob;
        }
    }

    &__not-empty {
        display: none;
        &.active {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
        }
    }

    &__empty {
        display: none;
        &.active {
            display: block;
        }
    }

    &__empty-wrapper {
        padding-top: 97px;
        @extend %centre-flex-columb;
    }

    &__empty-titlte {
        text-transform: uppercase;
        margin-bottom: 60px;
        @include text( $size: 1.25rem, $textAlign: center, $color: #000000, $fontWeight: 600, $lineHeight: 28px);
    }

    &__empty-button {
        max-width: 240px;
        width: 100%;
        padding: 12px 0;
    }
}

.order {
    @include __960 {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    &__short-information {
        border: 1px solid $color-red-30;
        background-color: $color-white;
        cursor: pointer;
        transition: all .1s ease-in-out;
        &:hover {
            border-color: $color-red-50;
        }
        &.active {
            border:none;
            border-top: 1px solid $color-red-30;
            border-left: 1px solid $color-red-30;
            border-right: 1px solid $color-red-30;
            &:hover {
                border-color: $color-red-30;
            }
        }
    }


    &__short-information.active:hover &__arrow-state {
        stroke: $color-black;
    }

    &__short-information.active &__arrow {
        transform: rotateZ(180deg);
    }

    &__short-information:hover &__arrow-state {
        stroke: $color-red;
    }

    &__short-information.active:hover &__arrow-state {
        stroke: $color-black;
    }

    &__arrow-state {
        transition: all .1s ease-in-out;
    }

    &__short-information.active &__short-information-wrapper {
        @include __960 {
            padding: 8px 12px 16px 12px;
        }
    }

    &__short-information-wrapper {
        transition: all .3s ease-in-out;
        @extend %centre-space-between;
        padding: 12px 24px;
        @include __960 {
            padding: 8px 12px;
            display: block;
        }
    }

    &__short-information-left-section {
        display: flex;
        align-items: center;
        @include __960 {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__status {
        margin-right: 60px;
        @include __1290 {
            margin-right: 20px;
        }
        @include __960 {
            display: flex;
            justify-content: space-between;
            margin: 0 0 12px 0;
            width: 100%;
        }
    }

    &__status-wrp {
        display: flex;
        align-items: center;
        column-gap: 4px;
    }

    &.in-the-process &__status-title.in-the-process {
        display: block;
    }

    &.canceled &__status-title.canceled {
        display: block;
    }

    &.success &__status-title.success {
        display: block;
    }

    &__status-title {
        display: none;
        @include text( $size: 0.875rem, $textAlign: left, $color: $color-black, $fontWeight: 700, $lineHeight: 20px);
    }

    &__status-img {
        display: none;
    }

    &.in-the-process &__status-img.in-the-process {
        display: block;
    }

    &.canceled &__status-img.canceled {
        display: block;
    }

    &.success &__status-img.success {
        display: block;
    }

    &__arrow {
        font-size: 0;
        transition: all .2s ease-in-out;
        &.mobile {
            display: none;
            @include __960 {
                display: block;
            }
        }
        @include __960 {
            display: none;
        }
    }

    &__data-order {
        margin-right: 96px;
        @include __1290 {
            margin-right: 20px;
        }
        @include __960 {
            margin: 0 0 8px 0;
        }
    }

    &__data-order, &__sum, &__amount-product{
        display: flex;
        flex-direction: column;
        row-gap: 4px;
        @include __960 {
            margin-right: 0;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
        }
    }

    &__amount-product {
        @include __960 {
            display: none;
        }
    }

    &__data {
        @include text( $size: 0.875rem, $textAlign: left, $color: $color-gray-60, $fontWeight: 400, $lineHeight: 24px);
    }

    &__data-subtitle-order {
        @include text( $size: 1rem, $textAlign: left, $color: $color-black, $fontWeight: 700, $lineHeight: 24px);
    }

    &__short-information.active &__sum{
        @include __960 {
            margin-bottom: 0;
        }
    }

    &__sum {
        margin-right: 128px;
        @include __1290 {
            margin-right: 20px;
        }
        @include __960 {
            margin: 0 0 12px 0;
        }
    }

    &__sum-title, &__amount-title, &__amount-product {
        @include text( $size: 0.875rem, $textAlign: left, $color: $color-gray-60, $fontWeight: 400, $lineHeight: 24px);
    }

    &__sum-subtitle,  &__amount-subtitle{
        @include text( $size: 1rem, $textAlign: left, $color: $color-black, $fontWeight: 600, $lineHeight: 20px);
    }

    &__amount-product {
        margin-right: 47px;
    }

    &__short-information.active &__images-product {
        opacity: 0;
        visibility: hidden;
        @include __960 {
            height: 0;
            overflow: hidden;
        }
    }

    &__images-product {
        transition: all .3s ease-in-out;
        display: flex;
        column-gap: 12px;
        @include __1390 {
            column-gap: 5px; 
            align-items: center;
        }
        @include __960 {
            max-width: 319px;
            width: 100%;
            justify-content: space-between;
            height: 60px;
        }
    }

    &__image-wrapper {
        @include __1090 {
            width: 40px;
            height: 40px;
        }
        @include __960 {
            width: auto;
            height: auto;
            display: none;
            &.mobile {
                display: block;
            }
        }
    }

    &__image-more {
        width: 60px;
        height: 60px;
        background-color: $color-white;
        @extend %centre-flex-columb;
        outline: 1px solid $color-gray-20;
        @include __1090 {
            width: 40px;
            height: 40px;
        }
        @include __960 {
            width: 60px;
            height: 60px;
        }
    }

    &__more-number {
        @include text( $size: 0.875rem, $textAlign: center, $color: $color-black, $fontWeight: 600, $lineHeight: 20px);
    }

    &__short-information-right-section {
        @include __960 {
            display: none;
        }
    }

    &__full-information {
        height: 0;
        overflow: hidden;
        transition: all .2s ease-in-out;
        border-left: 1px solid $color-red-30;
        border-right: 1px solid $color-red-30;
        &.active {
            border-bottom: 1px solid $color-red-30;
        }   
    }

    &__full-information-wrapper-section {
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
        column-gap: 10px;
        @include __960 {
            flex-direction: column;
            row-gap: 24px;
        }
    }

    &__full-information-wrapper {
        padding: 24px 24px 40px 24px;
        @include __960{
            padding: 0 0 8px 0;
        }
    }

    &__full-information-left-section {
        @include __960 {
            padding: 0 12px;
        }
    }

    &__about-order {
        display: block;
        @include text( $size: 0.875rem, $textAlign: left, $color: $color-gray-60, $fontWeight: 400, $lineHeight: 24px);
        margin-bottom: 12px;
    }

    &__list-info {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
    }

    &__list-item {
        @include text( $size: 0.875rem, $textAlign: left, $color: $color-black, $fontWeight: 400, $lineHeight: 24px);
    }

    &__title-navigation {
        display: flex;
        column-gap: 40px;
        border-bottom: 1px solid $color-gray-30;
        padding: 0 247px 0 88px;
        @include __1390 {
            padding: 0 13px;
            column-gap: 10px;
        }
        
    }

    &__title-navigation-item {
        width: 120px;
        @include text( $size: 0.875rem, $textAlign: left, $color: $color-gray-60, $fontWeight: 400, $lineHeight: 24px);
        &:nth-child(1) {
            width: 41px;
            margin-right: 178px;
            @include __1390 {
                margin-right: 163px;
            }
        }

        &:nth-child(2) {
            @include __1390 {
                width: 70px;
            }
        }
        @include __1390 {
            width: 90px;
        }
        @include __960 {
            display: none;
        }
    }

    &__details-item {
        display: flex;
        align-items: center;
        column-gap: 40px;
        padding: 8px 16px;
        border-bottom: 1px solid $color-gray-30;
        @include __1390 {
            column-gap: 10px;
        }
        @include __960 {
            flex-direction: column;
            align-items: flex-start;
            padding: 12px;
            row-gap: 40px;
        }
    }

    &__details-name-product {
        display: flex;
        column-gap: 12px;
        align-items: center;
        cursor: pointer;
        @include __1390 {
            column-gap: 5px;
        }
        @include __960 {
            column-gap: 12px; 
        }
    }

    &__details-name-product:hover &__details-name {
        color: $color-red;
    }

    &__details-name {
        transition: all .1s ease-in-out;
        max-width: 218px;
        width: 100%;
        @include text( $size: 0.875rem, $textAlign: left, $color: $color-black, $fontWeight: 600, $lineHeight: 20px);
        @include __1390 {
            max-width: 135px;
        }
        @include __960{
            max-width: 218px; 
        }
    }

    &__details-central-wrapper {
        display: flex;
        column-gap: 40px;
        @include __1390 {
            column-gap: 15px;
        }
        @include __960 {
            column-gap: 31px; 
        }
    }

    &__details-price, &__details-amount, &__details-sum {
        @include __960 {
            display: flex;
            flex-direction: column;
            row-gap: 8px;
        }
    }

    &__details-price-title, &__details-amount-title, &__details-sum-title {
        @include text( $size: 0.75rem, $textAlign: center, $color: $color-gray-60, $fontWeight: 600, $lineHeight: 20px);
        display: none;
        @include __960 {
            display: block;
        }
    }

    &__details-price-subtitle, &__details-amount-subtitle, &__details-sum-subtitle {
        display: inline-block;
        width: 120px;
        @include text( $size: 0.875rem, $textAlign: left, $color: $color-black, $fontWeight: 600, $lineHeight: 20px);
        @include __1390 {
            width: 70px;
            text-align: center;
        }
        @include __960 {
            width: auto;
        }
    }

    &__details-amount {
        @include __960 {
            text-align: center;
        }
    }

    &__button-wrapper {
        @include __960 {
            max-width: 375px;
            width: 100%;
        }
    }

    &__button-stay-review {
        padding: 12px 36.5px;
        @include __1390 {
            padding: 12px 4px;
        }
        @include __960 {
            max-width: 375px;
            width: 100%;
        }
    }

    &__footer {
        display: flex;
        justify-content: flex-end;
        @include __960 {
            justify-content: flex-start;
            padding: 0 12px;
        }
    }


    &__full-information-footer {
        max-width: 336px;
        width: 100%;
    }

    &__payment {
        margin-bottom: 12px;
    }

    &__payment-title, &__total-title {
        @include text( $size: 0.875rem, $textAlign: left, $color: $color-gray-60, $fontWeight: 400, $lineHeight: 24px);
    }

    &__payment-subtitle {
        @include text( $size: 0.875rem, $textAlign: left, $color: $color-black, $fontWeight: 400, $lineHeight: 24px);
    }

    &__total, &__payment {
        display: flex;
        justify-content: space-between;
    }

    &__total {
        margin-bottom: 36px;
    }

    &__total-subtitle {
        @include text( $size: 1rem, $textAlign: left, $color: $color-black, $fontWeight: 700, $lineHeight: 24px);
    }

    &__button-repeat-order {
        max-width: 100%;
        width: 100%;
        padding: 12px 0;
    }

}

.comparison {
    display: none;
    @extend %size-page;
    &.active {
        display: block;
    }

    &__not-empty {
        display: none;
        padding: 24px 0 ;
        &.active {
            display: block;
        }
        @extend %padding-country;
        @include __960 {
            padding-left: 16px;
        }
    }

    &__navigation {
        @extend %centre-space-between;
        margin-bottom: 24px;
        @include __960 {
            flex-direction: column;
            align-items: flex-start;
            row-gap: 20px;
        }
    }

    &__navigation-left-wrapper {
        display: flex;
        align-items: center;
        column-gap: 40px;
        max-width: 798px;
        width: 100%;
        @include __1090 {
            column-gap: 12px;
            max-width: 700px;
        }
        @include __960 {
            max-width: 100%;
        }
    }

    &__category {
        display: flex;
        align-items: center;
        column-gap: 12px;
    }

    &__category-title {
        @include text( $size: 0.875rem, $textAlign: left, $color: $color-black, $fontWeight: 700, $lineHeight: 20px);
        max-width: 163px;
        width: 100%;
        @include __960 {
            display: none;
        }
    }

    &__dropdown {
        width: 232px;
        position: relative;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all .2s ease-in-out;
        border: 1px solid $color-red-30;
        padding-left: 16px;
        &:hover {
            border-color: $color-red;
        }
        &.active {
            border-color: $color-red;
        }
    }

    &__dropdown.active:hover &__dropdown-arrow-state  {
        stroke: $color-black;
    }

    &__dropdown:hover &__dropdown-arrow-state {
        stroke: $color-red;
    }

    &__dropdown.active &__dropdown-arrow {
        transform: rotateZ(180deg);
    }

    &__dropdown.active &__dropdown-list {
        opacity: 1;
        visibility: visible;
        z-index: 1;
    }

    &__dropdown-title {
        @include text( $size: 0.875rem, $textAlign: left, $color: $color-black, $fontWeight: 400, $lineHeight: 24px);
    }

    &__dropdown-arrow {
        font-size: 0;
        transition: all .2s ease-in-out;
    }

    &__dropdown-list {
        width: 100%;
        background-color: #FEFEFE;
        position: absolute;
        transition: all .2s ease-in-out;
        opacity: 0;
        visibility: hidden;
        top: 46px;
        left: 0;
        display: flex;
        flex-direction: column;
        row-gap: 4px; 
    }

    &__dropdown-item {
        position: relative;
        transition: all .1s ease-in-out;
        padding: 8px 16px;
        @include text($size: 0.875rem, $color: $color-gray-80, $textAlign: left, $fontWeight: 400, $lineHeight: 24px);
        &::before {
            content: '';
            width: 2px;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background-color: $color-red-50;
            opacity: 0;
            transition: all .1s ease-in-out;
        }
        &:hover {
            background-color: #F7F7F7;
            &::before {
                opacity: 1;
            }
        }
    }

    &__buttons {
        flex: 1 0 351px;
        display: flex;
        column-gap: 16px;
        @include __1090 {
            flex: 1 0 280px;
        }
    }

    &__button-add {
        max-width: 191px;
        width: 100%;
        padding: 11px 0;
        @include __1090 {
            max-width: 165px;
        }
        &.mobile {
            display: none;
        }
        @include __960 {
            display: none;
            &.mobile {
                display: block;
                padding: 12px 0;
                max-width: 165px;
            }
        }
    }

    &__switch-wrapper-mob {
        display: flex;
        align-items: center;
        column-gap: 19px;
    }

    &__button-clear {
        padding: 11px 0;
        max-width: 144px;
        width: 100%;
        @include __1090 {
            max-width: 99px;
        }
    }

    &__switch {
        display: flex;
        column-gap: 12px;
        @include __960 {
            max-width: 370px;
            width: 100%;
        }
    }

    &__switch-title {
        @include text($size: 0.875rem, $color: $color-black, $textAlign: left, $fontWeight: 400, $lineHeight: 24px);
    }

    &__switch-wrapper {
        position: relative;
        display: inline-block;
        width: 32px;
        height: 12px;
      }
      
      &__switch-wrapper &__checkbox {display:none;}
      
      &__slider-checkbox {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $color-gray-20;
        border: 1px solid $color-gray-30;
        border-radius: 4px;
        transition: all .2s ease-in-out;
        &::before {
            position: absolute;
            content: "";
            height: 20px;
            width: 20px;
            left: -2px;
            bottom: -5px;
            background-color: $color-gray-30;
            border-radius: 8px;
            border: 1px solid $color-gray-50;
            transition: all .2s ease-in-out;
        }
      }

      &__switch-wrapper:hover &__slider-checkbox::before {
        border-color: $color-gray-50;
        background: $color-gray-50;
      }

      &__switch-wrapper:hover &__slider-checkbox{
        border-color: $color-gray-50;
      }
      
      &__checkbox:checked + &__slider-checkbox{
        background-color: $color-red-20;
        border-color: $color-red-30;
      }

      &__checkbox:checked + &__slider-checkbox::before{
        background-color: $color-red-30;
        border-color: $color-red;
      }

      &__checkbox:checked + &__slider-checkbox:hover{
        border-color: $color-red-50;
        &::before {
            background-color: $color-red;
            border-color: $color-red;
        }
      }
      
      &__checkbox:checked + &__slider-checkbox:before {
        transform: translateX(16px);
      }

    &__empty {
        display: none;
        &.active {
            display: block;
        }
    }

    &__empty-wrapper {
        padding: 128px 48px 180px 48px;
        @extend %centre-flex-columb;
        @include __960 {
            padding: 66px 16px 124px 16px; 
        }
    }

    &__empty-title {
        margin-bottom: 40px;
        @include text( $size: 1.25rem, $textAlign: center, $color: #000000, $fontWeight: 600, $lineHeight: 28px);
    }

    &__empty-subtitle-wrapper {
        &.mobile {
            display: none;
            @include __480 {
                display: block;
            }
        }
        @include __480 {
            display: none;
        }
    }

    &__empty-subtitle {
        @include text( $size: 0.875rem, $textAlign: center, $color: $color-black, $fontWeight: 400, $lineHeight: 24px);
        &.image {
            display: flex;
            align-items: center;
            column-gap: 14px;
            margin-bottom: 40px;
            &.mobile {
                justify-content: center;
                margin-bottom: 0;
            }
        }
        &.last {
            margin-bottom: 40px;
        }
    }

    &__empty-button {
        max-width: 240px;
        width: 100%;
        padding: 16px 0;
    }

		&__slider-wrapper {
            position: relative;
		}

		&__slider {
            overflow: hidden;
            border-top: 1px solid #FAD1D6;
            border-left: 1px solid #FAD1D6;
            border-right: 1px solid #FAD1D6;
            max-width: 1344px;
            width: 100%;
            @include __1440 {
                max-width: 1009px;
                margin: 0 auto;
            }
            @include __1150 {
                max-width: 673px;
            }
            @include __960 {
                overflow: overlay;
                margin: 0;
                max-width: 100%;
                &::-webkit-scrollbar {
                    width: 0;
                    height: 0;
                }
            }
		}

.comparison-slider {
		&__header {
            display: flex;
            flex-wrap: nowrap;
            width: max-content;
            transition: all .2s ease-in-out;
            transform: translateX(var(--transform));
		}

		&__titlte-slider {
            &:nth-child(1) {
                border-left: none;
            }
		}

		&__main {
            width: max-content;
		}

		&__title-characteristic {
            flex: 0 0 auto;
            min-height: 36px;
            background-color: $color-gray-10;
            border-bottom: 1px solid #FAD1D6;
            padding: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
		}

		&__title-characteristic-center {
            position: absolute;
            left: 50%;
            width: max-content;
            transform: translateX(-50%);
            align-items: center;
		}

		&__title-characteristic-item {
            @include text( $size: 0.875rem, $textAlign: center, $color: $color-black, $fontWeight: 600, $lineHeight: 20px);
		}

		&__description-characteristic {
            position: relative;
            transform: translateX(var(--transform));
            display: flex;
            flex-direction: column;
            align-items: stretch;
            transition: all .2s ease-in-out;
		}

		&__description-value-item {
            display: flex;
		}

		&__description-item {
            padding: 8px;
            display: inline-block;
            border-right: 1px solid #FAD1D6;
            border-bottom: 1px solid #FAD1D6;
            width: 100%;
            @include text( $size: 0.875rem, $textAlign: left, $color: $color-black, $fontWeight: 400, $lineHeight: 24px);
            flex: 0 0 336px;
		}

		&__button-prev, &__button-next{
            width: 44px;
            height: 44px;
            font-size: 0;
            position: absolute;
            top: 74px;
            background-color: $color-white;
            &:disabled {
                cursor: auto;
            }
            @include __960 {
                display: none;
            }
		}

        &__button-next {
            right: 0;
        }

        &__button-prev:hover .comparison-slider__button-prev-active-line {
            transform: translateX(-6px);
            background-color: $color-red;
            opacity: 1;
        }

        &__button-prev:active .comparison-slider__button-prev-active-line {
            background-color: $color-red-70;
        }

        &__button-prev:disabled .comparison-slider__button-prev-active-line {
            opacity: 0;
        }

        &__button-prev:disabled .comparison-slider__button-prev-arrow-state {
            stroke: $color-gray-60;
        }

        &__button-prev:disabled:hover .comparison-slider__button-prev-arrow-state {
            stroke: $color-gray-60;
        }

        &__button-prev:hover .comparison-slider__button-prev-arrow-state {
            stroke: $color-red;
        }

        &__button-prev:active .comparison-slider__button-prev-arrow-state {
            stroke: $color-red-70;
        }

        &__button-next:hover .comparison-slider__button-next-active-line {
            transform: translateX(6px);
            background-color: $color-red;
            opacity: 1;
        }

        &__button-next:active .comparison-slider__button-next-active-line {
            background-color: $color-red-70;
        }

        &__button-next:hover .comparison-slider__button-next-arrow-state {
            stroke: $color-red;
        }

        &__button-next:active .comparison-slider__button-next-arrow-state {
            stroke: $color-red-70;
        }

        &__button-next:disabled .comparison-slider__button-next-active-line {
            opacity: 0;
        }

        &__button-next:disabled .comparison-slider__button-next-arrow-state {
            stroke: $color-gray-60;
        }

        &__button-next:disabled:hover .comparison-slider__button-next-arrow-state {
            stroke: $color-gray-60;
        }

		&__button-prev-wrapper, &__button-next-wrapper {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
		}

        &__button-prev-wrapper {
            flex-direction: row-reverse;
        }

		&__button-prev-active-line, &__button-next-active-line {
            transition: all .2s ease-in-out;
            display: block;
            height: 1px;
            width: 22px;
            background-color: $color-black;
            opacity: 0;
		}

}

}

.comparison-slider {

    &__titlte-slider {
        position: relative;
        max-width: 336px;
        width: 100%;
        border-bottom: 1px solid $color-red-30;
        border-right: 1px solid $color-red-30;
    }

    &__titlte-slider-wrapper {
        padding: 8px;
        position: relative;
    }

    &__titlte-slider-header {
        display: flex;
        align-items: center;
        margin-bottom: 6px;
    }

    &__offers {
        position: absolute;
        top: 0;
        left: 0;
        &.stocks {
            max-width: 66px;
            width: 100%;
        }
        &.bestseller {
            max-width: 101px;
            width: 100%;
        }
        &.novelty {
            max-width: 83px;
            width: 100%;
        }
        &.none {
            display: none;
        }
    }

    &__offers.stocks &__offer.stocks {
        display: flex;
    }

    &__offers.bestseller &__offer.bestseller {
        display: flex;
    }

    &__offers.novelty &__offer.novelty {
        display: flex;
    }

    
    &__offer {
        padding-left: 8px;
        height: 24px;
        display: flex;
        align-items: center;
        display: none;
        &.stocks {
            background-image: url('/icon/stocks.png');
            background-repeat: no-repeat;
            background-size: auto auto;
        }
        &.bestseller {
            background-image: url('/icon/bestseller.png');
            background-repeat: no-repeat;
            background-size: auto auto;
        }
        &.novelty {
            background-image: url('/icon/novelty.png');
            background-repeat: no-repeat;
        }
    }

    &__offers-title {
        letter-spacing: 0.04em;
        text-transform: uppercase;
        @include text( $size: 0.625rem, $textAlign: left, $color: $color-white, $fontWeight: 700, $lineHeight: 20px);
    }



    &__image-wrapper {
        padding-top: 32px;
        margin-right: 8px;
    }

    &__review {
        padding-top: 32px;
        display: flex;
        align-items: center;
        column-gap: 4.75px;
        margin-bottom: 8px;
    }

    &__stars {
        display: flex;
        align-items: center;
    }

    &__review-link {
        display: flex;
        align-items: center;
        column-gap: 4.75px;
    }

    &__review-text {
        @include text( $size: 0.75rem, $textAlign: left, $color: $color-gray-70, $fontWeight: 400, $lineHeight: 20px);
    }

    &__product-name {
        max-width: 168px;
        width: 100%;
        @include text( $size: 0.875rem, $textAlign: left, $color: $color-black, $fontWeight: 600, $lineHeight: 20px);
    }

    &__button-menu-wrapper {
        position: relative;
        align-self: flex-start;
        width: 44px;
        height: 44px;
    }

    &__button-menu-wrapper.active &__button-state {
        fill: $color-red-70;
    }

    &__button-menu-wrapper.active &__button-more {
        outline: 1px solid $color-red-30;
    }

    &__button-menu-wrapper.active &__button-menu {
        opacity: 1;
        visibility: visible;
        z-index: 1;
    }

    &__button-more {
        outline: 1px solid $color-white;
        transition: all .1s ease-in-out;
        font-size: 0;
        &.active {
            outline-color: $color-red-30;
        }
    }

    &__button-more:hover &__button-state {
        fill: $color-red;
    }

    &__button-more.active &__button-state {
        fill: $color-red-70;
    }

    &__button-state {
        transition: all .1s ease-in-out;
    }

    &__button-menu {
        opacity: 0;
        z-index: -1;
        visibility: hidden;
        transition: all .2s ease-in-out;
        position: absolute;
        top: 46px;
        left: -154px;
        background-color: $color-white;
        width: 200px;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 4px 22px -8px rgba(0, 0, 0, 0.15);
        &.active {
            opacity: 1;
            z-index: 1;
            visibility: visible;
        }
    }

    &__button-menu-item {
        position: relative;
        display: block;
        cursor: pointer;
        padding: 12px 22px 12px 16px;
        @include text( $size: 0.875rem, $textAlign: left, $color: $color-black, $fontWeight: 600, $lineHeight: 20px);
        &::before {
            content: '';
            width: 2px;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background-color: $color-red-30;
            opacity: 0;
            transition: all .1s ease-in-out;
        }
        &:hover {
            &::before {opacity: 1;}   
        }
    }

    &__titlte-slider-footer {
        display: flex;
        @extend %centre-space-between;
    }

    &__old-price {
        margin-bottom: 4px;
        text-decoration-line: line-through;
        @include text( $size: 0.75rem, $textAlign: left, $color: $color-gray-70, $fontWeight: 400, $lineHeight: 20px);
    }

    &__new-price {
        @include text( $size: 1rem, $textAlign: left, $color: $color-black, $fontWeight: 700, $lineHeight: 24px);
    }
    
    &__button-buy {
        padding-right: 7px;
        column-gap: 4px;
        display: flex;
        align-items: center;
        background-color: $color-red;
        transition: all .1s ease-in-out;
        &:active {
            background-color: $color-red-70;
        }
        &:disabled {
            background-color: $color-gray-70;
        }
    }

    &__button-text {
        @include text( $size: 0.875rem, $textAlign: left, $color: $color-white, $fontWeight: 700, $lineHeight: 20px);
    }
}