html {
  // overflow-x: hidden;
  // margin-right: calc(-1 * (100vw - 100%));
}
:root {
  --width-page: 1440px;
  --height-monitor: 700px;
  --height-page: 700px;
}

.width {
  width: var(--width-page) px;
}

#body-cont {
  background-color: $color-white;
  overflow-x: hidden;
  &.active {
    overflow-y: hidden;
    padding-right: 17px;
    @include __860 {
      padding-right: 0;
    }
  }
}

.input-wrapper-black {
  position:relative; 
  margin-bottom: 32px; 
  &.error &__input {
    border-color: $color-red-50;
    color: $color-red-40;
    margin-bottom: 4px;
  }
  &.error &__prompt-wrapper{
    display: block;
  }
  &.error &__image-error {
    display: block;
  }

  @include __640 {
    max-width: 100%;
  }

  &__input {
    @include text( $size: 0.875rem, $textAlign: left, $color: #FEFEFE, $fontWeight: 400, $lineHeight: 24px);
    padding: 10px 16px;
    display:block;
    border:none;
    border-bottom:1px solid $color-gray-70;
    max-width: 240px;
    width: 100%;
    &:hover {
      border-color: $color-white;
    }
    &:focus {
      border-color: $color-gray-30;
      color: $color-gray-30;
    }
    &:valid {
      border-color: $color-gray-30;
      color: $color-gray-30;
    }
  
  }

  &__image-error {
    position: absolute;
    top: 10px;
    right: 16px;
    display: none;
  }

  &__prompt-wrapper {
    display: none;
    padding-left: 16px;
  }
  &__prompt {
    @include text( $size: 0.75rem, $textAlign: left, $color: $color-red-50, $fontWeight: 400, $lineHeight: 20px);
  }


  &__input:focus{ outline:none; }

  &__label {
    @include text( $size: 0.875rem, $textAlign: left, $color: $color-gray-70, $fontWeight: 400, $lineHeight: 24px);
    position:absolute;
    pointer-events:none;
    left: 16px;
    top: 10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }

  &__input:focus ~ &__label, &__input:valid ~ &__label    {
    top:-20px;
    font-size: 0.75rem;
  }
}

.input-wrapper-white {
  position:relative; 
  margin-bottom: 32px; 
  &.error &__input {
    border-color: $color-red-50;
    color: $color-red;
    margin-bottom: 4px;
  }
  &.error &__prompt-wrapper{
    display: block;
  }
  &.error &__image-error {
    display: block;
  }

  @include __640 {
    max-width: 100%;
  }

  &__input {
    @include text( $size: 0.875rem, $textAlign: left, $color: $color-gray-70, $fontWeight: 400, $lineHeight:24px);
    padding: 10px 16px;
    display:block;
    border:none;
    border-bottom:1px solid $color-gray-50;
    max-width: 240px;
    width: 100%;
    &:hover {
      border-color: $color-red-50;
    }
    &:focus {
      border-color: $color-black;
      color: $color-gray-100;
    }
    &:valid {
      border-color: $color-gray-70;
      color: $color-gray-100;
    }
  }

  &__image-error {
    position: absolute;
    top: 10px;
    right: 16px;
    display: none;
  }

  &__prompt-wrapper {
    display: none;
    padding-left: 16px;
  }
  &__prompt {
    @include text( $size: 0.75rem, $textAlign: left, $color: $color-red-50, $fontWeight: 400, $lineHeight:20px);
  }


  &__input:focus{ outline:none; }

  &__label {
    @include text( $size: 0.875rem, $textAlign: left, $color: $color-gray-80, $fontWeight: 400, $lineHeight:24px);
    position:absolute;
    pointer-events:none;
    left: 16px;
    top: 10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }

  &__input:focus ~ &__label, &__input:valid ~ &__label    {
    top:-20px;
    font-size: 0.75rem;
  }
}

.btn-red {
  @include text( $size: 0.875rem, $textAlign: center, $color: $color-white, $fontWeight: 700, $lineHeight:20px);
  background-color: $color-black;
  transition: all .2s ease-in-out;
  &:hover {
    background-color: $color-red;
  }
  &:active {
    background-color: $color-red-70;
  }
  &:disabled {
    cursor: auto;
    background-color: $color-gray-60;
  }
}

.btn-red-short {
  @include text( $size: 0.875rem, $textAlign: center, $color: $color-white, $fontWeight: 700, $lineHeight:20px);
  background-color: $color-red;
  transition: all .1s ease-in-out;
  &:hover {
    background-color: $color-red-70;
  }
  &:active {
    background-color: $color-white;
    color: $color-black;
  }
}

.btn-transparent {
  @include text( $size: 0.875rem, $textAlign: center, $color: $color-black, $fontWeight: 700, $lineHeight: 20px);
  transition: all .1s ease-in-out;
  border: 1px solid $color-black;
  &:hover {
    color: $color-red;
    border-color: $color-red;
  }
  &:active {
    color: $color-red-70;
    border-color: $color-red-70;
  }
  &:disabled {
    color: $color-gray-60;
    border-color: $color-gray-60;
  }
}

.btn-arrow-down {
  display: flex;
  align-items: center;
  justify-content: right;

  &.active &__open-all-title {
    display: none;
  }
  &.active {
      max-width: 113px;
  }
  &.active &__title {
    display: none;
}
  &.active &__title.hidden {
      display: block;
  }
  &.active &__arrow {
      display: none;
  }
  &.active &__arrow-hidden {
      display: block;
      transform: rotateZ(180deg);
  }
  &.active &__arrow-svg-hidden {
      display: block;
  }
  &.active &__arrow:after {
      display: none;
  }

  &:hover &__title {
    color: $color-red;
  }
  &:active &__title {
      color: $color-red-70;
  }
  &:disabled &__title {
      color: $color-gray-60;
  }

  &:hover &__arrow-svg {
      transform: rotateZ(-90deg);
  }
  &:hover &__arrow-svg-hidden {
      transform: rotateZ(90deg);
  }
 
  &:hover &__arrow-svg-state {
      stroke: $color-red;
  }
  &:active &__arrow-svg {
      stroke: $color-red-70;
  }
  &:disabled &__arrow-svg {
      stroke: $color-gray-60;
  }

  &__title {
    transition: all .1s ease-in-out;
    @include text( $size: 0.875rem, $textAlign: left, $color: $color-gray-100, $fontWeight: 600, $lineHeight: 20px);
    &.hidden {
        display: none;
    }
  }

  &__arrow {
    transition: all .2s ease-in-out;
        font-size: 0;
        position: relative;
  }

  &__arrow-svg, &__arrow-svg-hidden {
    transition: all .2s ease-in-out;
    font-size: 0;
    position: relative;
  }

  &__arrow-hidden {
    transition: all .2s ease-in-out;
    font-size: 0;
    position: relative;
    display: none;
    &::after {
        content: '';
        width: 20px;
        height: 1px;
        background-color: $color-gray-100;
        position: absolute;
        top: 21.5px;
        left: 26px;
        opacity: 0;
        transition: all .2s ease-in-out;
    }
  }
}

.blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: table;
  z-index: -2;
  transition: all 0.3s ease;
  &.active {
    background: rgba(0, 0, 0, 0.2);
    z-index: 3;
  }
}

.btn-basket {
  outline: 1px solid $color-red;
  @extend %left-flex;
  overflow: hidden;
  transition: all .2s ease-in-out;
  &:hover {
    background-color: $color-red;
    column-gap: 4px;
  }
  &:hover &__text {
    width: 60px;
    opacity: 1;
  }
  &:hover &__svg {
    stroke: $color-white;
  }
  &:active {
    background-color: $color-red-70;
  }
  &:active &__svg {
    stroke: $color-white;
  }
  &:disabled {
    cursor: auto;
    outline-color: $color-gray-60;
    background-color: $color-white;
  }
  &:disabled &__svg {
    stroke: $color-gray-60;
  }
  &__text {
    width: 0;
    opacity: 0;
    display: inline-block;
    transition: all .2s ease-in-out;
    @include text( $size: 0.875rem, $textAlign: left, $color: $color-white, $fontWeight: 700, $lineHeight: 20px);  
  }

}

.btn-arrow-right {
  max-width: 139px;
  width: 100%;
  padding-left: 12px;
  display: flex;
  align-items: center;
  column-gap: 4px;
  &:hover &__title {
    color: $color-red;
  }
  &:active &__title {
    color: $color-red-70;
  }
  &:hover &__line-active {
    left: 11px;
    opacity: 1;
    background-color: $color-red;
  }
  &:active &__line-active {
    background-color: $color-red-70;
  }
  &:hover &__arrow-state {
    stroke: $color-red;
  }
  &:active &__arrow-state {
    stroke: $color-red-70;
  }
  &__title {
    transition: all .1s ease-in-out;
    @include text( $size: 0.875rem, $textAlign: left, $color: $color-gray-100, $fontWeight: 600, $lineHeight: 20px);  
  }

  &__arrow {
    position: relative;
    font-size: 0;
  }

  &__line-active {
    width: 20px;
    height: 1px;
    display: flex;
    background-color: $color-black;
    position: absolute;
    top: 22px;
    left: 0px;
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }

  &__arrow-state {
    transition: all 0.2s ease-in-out;
  }
}

.btn-red-basket{
  display: flex;
  background-color: $color-red;
  border: 1px solid $color-red;
  transition: all .2s ease-in-out;
  &:hover {
    background-color: $color-red-70;
    border-color: $color-red-70;
  }
  &:active {
    background-color: $color-red-70;
    border-color: $color-red-70;
  }
  &:disabled {
    cursor: auto;
    background-color: $color-gray-60;
    border-color: $color-gray-60;
  }
  &__text {
    @include text( $size: 0.875rem, $textAlign: center, $color: $color-white, $fontWeight: 700, $lineHeight: 20px);
  }
}

.dropdown {
  position: relative;

  &.active &__list {
      visibility: visible;
      opacity: 1;
  }
  &.active &__arrow {
      transform: rotateZ(180deg);
  }
  &.active &__arrow-hover {
      stroke: $color-red;
  }
  &:hover &__input {
      border-color: $color-red;
  }
  &:hover &__arrow-hover {
      stroke: $color-red;
  }
  &:hover &__label {
    color: $color-gray-100;
  }
  &.active &__input {
      border-color: $color-red-50;
  }

  &__input {
      border-bottom: 1px solid $color-gray-50;
      width: 100%;
      height: 44px;
      padding: 10px 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &.is-invalid {
          border-color: $color-red-60;
      }
  }

  &__label {
      display: inline-block;
      position: absolute;
      left: 16px;
      top: 11px;
      @include text($size: 0.875rem, $color: $color-gray-80, $textAlign: center, $fontWeight: 400, $lineHeight: 24px);
      background-color: $color-white;
      transition: all .2s ease-in-out;
      &.active{
          font-size: 0.75rem;
          top: -17px;
          color: $color-gray-100;
      }
  }

  &__selected-item {
      @include text($size: 0.875rem, $color: $color-gray-80, $textAlign: left, $fontWeight: 400, $lineHeight: 24px);
  }

  &__arrow {
      transform: rotateZ(0deg);
      transition: all .2s ease-in-out;
  }

  &__list {
      z-index: 2;
      width: 100%;
      top: 44px;
      visibility: hidden;
      width: 100%;
      position: absolute;
      top: 44px;
      background-color: $color-white;
      opacity: 0;
      visibility: hidden;
      transition: 0.2s ease-in;
      box-shadow: 0px 4px 22px -8px rgba(0, 0, 0, 0.15);
  }

  &__menu {
      display: flex;
      flex-direction: column;
      row-gap: 4px;
  }

  &__item {
      padding: 8px 16px;
      cursor: pointer;
      transition: all .1s ease-in-out;
      position: relative;
      &:hover {
          background-color: #F7F7F7;
          &::before {
              opacity: 1;
          }
      }
      &::before {
          content: '';
          width: 2px;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          background-color: $color-red-50;
          opacity: 0;
          transition: all .1s ease-in-out;
      }

  }
  &__item:hover &__item-name {
      color: $color-gray-100;
  }

  &__item-name {
      @include text($size: 0.875rem, $color: $color-gray-80, $textAlign: left, $fontWeight: 400, $lineHeight: 24px);
  }
}

.scroll-to-top {
  opacity: 0;
  width: 0;
  position: fixed;
  bottom: 160px;
  right: 4px;
  transition: all .3s ease-in-out;
  z-index: 1;

  &.active {
    opacity: 1;
    width: 40px;
    transition: all .3s ease-in-out;
  }
  &__button-up {
    width: 44px;
    height: 44px;
    background: $color-white;
    box-shadow: 0px 4px 22px -8px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
  }
  &__button-up:active &__button-up-svg {
    stroke: $color-red-70;
  }
  &__button-up:hover &__button-up-svg {
    stroke: $color-red;
  }
}

.btn-delete {
  font-size: 0;
  &__state {
    transition: all .1s ease-in-out;
  }
  &:hover &__state {
    stroke: $color-black;
  }
}